Repository gemini-hlsw/clue: changes, and which Mergify rules are due for each by the changed paths.
All: Label core PRs, Label http4s PRs, Label http4s-jdk-demo PRs, Label input PRs, Label model PRs, Label output PRs, Label rules PRs, Label scalajs PRs, Label tests PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
  - status-success=Build and Test (ubuntu-latest, 2.13.8, temurin@11, rootJS)
  - status-success=Build and Test (ubuntu-latest, 2.13.8, temurin@11, rootJVM)
  - status-success=Build and Test (ubuntu-latest, 2.13.8, temurin@17, rootJVM)
  - status-success=Build and Test (ubuntu-latest, 3.1.2, temurin@11, rootJS)
  - status-success=Build and Test (ubuntu-latest, 3.1.2, temurin@11, rootJVM)
  - status-success=Build and Test (ubuntu-latest, 3.1.2, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label core PRs
  conditions:
  - files~=^core/
  actions:
    label:
      add:
      - core
      remove: []
- name: Label http4s PRs
  conditions:
  - files~=^http4s/
  actions:
    label:
      add:
      - http4s
      remove: []
- name: Label http4s-jdk-demo PRs
  conditions:
  - files~=^http4s-jdk-demo/
  actions:
    label:
      add:
      - http4s-jdk-demo
      remove: []
- name: Label input PRs
  conditions:
  - files~=^gen/input/
  actions:
    label:
      add:
      - input
      remove: []
- name: Label model PRs
  conditions:
  - files~=^model/
  actions:
    label:
      add:
      - model
      remove: []
- name: Label output PRs
  conditions:
  - files~=^gen/output/
  actions:
    label:
      add:
      - output
      remove: []
- name: Label rules PRs
  conditions:
  - files~=^gen/rules/
  actions:
    label:
      add:
      - rules
      remove: []
- name: Label scalajs PRs
  conditions:
  - files~=^scalajs/
  actions:
    label:
      add:
      - scalajs
      remove: []
- name: Label tests PRs
  conditions:
  - files~=^gen/tests/
  actions:
    label:
      add:
      - tests
      remove: []

remove commented code
  core/src/main/scala/clue/websocket/ApolloClient.scala
Due: Label core PRs

better comments in websocket package
  core/src/main/scala/clue/websocket/package.scala
Due: Label core PRs

Try to workaround https://github.com/sbt/sbt/issues/7173
  sbt-plugin/src/main/scala/clue/sbt/CluePlugin.scala
Due: none

wip cross project integration
  build.sbt
  sbt-plugin/src/main/scala/clue/sbt/CluePlugin.scala
  sbt-plugin/src/sbt-test/clue-plugin/starwars-crossproject-pure/.scalafix.conf
  sbt-plugin/src/sbt-test/clue-plugin/starwars-crossproject-pure/app/src/clue/scala/StarWarsQuery.scala
  sbt-plugin/src/sbt-test/clue-plugin/starwars-crossproject-pure/app/src/clue/scala/StarWarsSchema.scala
  sbt-plugin/src/sbt-test/clue-plugin/starwars-crossproject-pure/app/src/main/scala/App.scala
  sbt-plugin/src/sbt-test/clue-plugin/starwars-crossproject-pure/build.sbt
  sbt-plugin/src/sbt-test/clue-plugin/starwars-crossproject-pure/project/build.properties
  sbt-plugin/src/sbt-test/clue-plugin/starwars-crossproject-pure/project/plugins.sbt
  sbt-plugin/src/sbt-test/clue-plugin/starwars-crossproject-pure/schemas/StarWars.graphql
  sbt-plugin/src/sbt-test/clue-plugin/starwars-crossproject-pure/test
  sbt-plugin/src/sbt-test/clue-plugin/starwars/app/src/main/scala/App.scala
Due: none

Register clue clean task with workaround
  sbt-plugin/src/main/scala/clue/sbt/CluePlugin.scala
  sbt-plugin/src/sbt-test/clue-plugin/starwars/test
Due: none

copy over annotated standalone objects
  gen/input/src/main/scala/test/StarWarsQuery3.scala
  gen/input/src/main/scala/test/StarWarsSubquery2.scala
  gen/output/src/main/scala/test/StarWarsSubquery2.scala
  gen/rules/src/main/scala/clue/gen/GraphQLGen.scala
Due: Label input PRs, Label output PRs, Label rules PRs

remove unnecessary imports
  gen/input/src/main/scala/test/StarWarsNestedSubquery.scala
  gen/input/src/main/scala/test/StarWarsQuery3.scala
Due: Label input PRs

frientlier type params
  build.sbt
  core/src/main/scala/clue/ClientAppliedF.scala
  core/src/main/scala/clue/FetchClientImpl.scala
  core/src/main/scala/clue/GraphQLOperation.scala
  core/src/main/scala/clue/clients.scala
  core/src/main/scala/clue/package.scala
  gen/output/src/main/scala/test/LucumaQuery.scala
  gen/output/src/main/scala/test/LucumaQuery2.scala
  gen/output/src/main/scala/test/LucumaQuery3.scala
  gen/output/src/main/scala/test/StarWarsQuery.scala
  gen/output/src/main/scala/test/StarWarsQuery2.scala
  gen/output/src/main/scala/test/StarWarsQuery3.scala
  gen/output/src/main/scala/test/StarWarsQuery4.scala
  gen/rules/src/main/scala/clue/gen/QueryGen.scala
  http4s-jdk-demo/src/main/scala/clue/http4sjdkDemo/Demo.scala
  http4s/src/main/scala/clue/http4s/Http4sHttpClient.scala
  http4s/src/main/scala/clue/http4s/package.scala
  scalajs/src/main/scala/clue/js/package.scala
Due: Label core PRs, Label http4s PRs, Label http4s-jdk-demo PRs, Label output PRs, Label rules PRs, Label scalajs PRs

Bump sbt-crossproject
  build.sbt
Due: none

wip self-contained subqueries
  gen/output/src/main/scala/test/StarWarsSubquery2.scala
  gen/rules/src/main/scala/clue/gen/GraphQLGen.scala
  gen/rules/src/main/scala/clue/gen/QueryGen.scala
Due: Label output PRs, Label rules PRs

improve syntax when invoking queries
  core/src/main/scala/clue/clients.scala
  gen/output/src/main/scala/test/LucumaQuery.scala
  gen/output/src/main/scala/test/LucumaQuery2.scala
  gen/output/src/main/scala/test/LucumaQuery3.scala
  gen/output/src/main/scala/test/StarWarsQuery.scala
  gen/output/src/main/scala/test/StarWarsQuery2.scala
  gen/output/src/main/scala/test/StarWarsQuery3.scala
  gen/output/src/main/scala/test/StarWarsQuery4.scala
  gen/rules/src/main/scala/clue/gen/QueryGen.scala
  http4s-jdk-demo/src/main/scala/clue/http4sjdkDemo/Demo.scala
Due: Label core PRs, Label http4s-jdk-demo PRs, Label output PRs, Label rules PRs

sneak in default nones for option params
  model/src/main/scala/clue/model/GraphQLDataResponse.scala
  model/src/main/scala/clue/model/GraphQLError.scala
Due: Label model PRs

bump base version
  build.sbt
Due: none

Fixing
  sbt-plugin/src/main/scala/clue/sbt/CluePlugin.scala
  sbt-plugin/src/sbt-test/clue-plugin/starwars-crossproject-pure/app/src/main/scala/App.scala
  sbt-plugin/src/sbt-test/clue-plugin/starwars-crossproject-pure/test
  sbt-plugin/src/sbt-test/clue-plugin/starwars/app/src/main/scala/App.scala
Due: none

scalafix
  sbt-plugin/src/main/scala/clue/sbt/CluePlugin.scala
Due: none

include data (if present) in response exceptions
  core/src/main/scala/clue/ErrorPolicy.scala
  core/src/main/scala/clue/GraphQLException.scala
Due: Label core PRs

fix DecoderGraphQLErrorPathElement
  model/src/main/scala/clue/model/json/package.scala
Due: Label model PRs

Validated typed operations and subqueries
  gen/output/src/main/scala/test/StarWarsSubquery2.scala
  gen/rules/src/main/scala/clue/gen/GraphQLGen.scala
Due: Label output PRs, Label rules PRs

DRY
  gen/rules/src/main/scala/clue/gen/GraphQLGen.scala
Due: Label rules PRs

better cancelation
  core/src/main/scala/clue/websocket/ApolloClient.scala
  scalajs/src/main/scala/clue/js/FetchJSBackend.scala
  scalajs/src/main/scala/clue/js/WebSocketJSBackend.scala
Due: Label core PRs, Label scalajs PRs

organize imports
  scalajs/src/main/scala/clue/js/FetchJSBackend.scala
  scalajs/src/main/scala/clue/js/WebSocketJSBackend.scala
Due: Label scalajs PRs

fix js ws close code on cancel
  scalajs/src/main/scala/clue/js/WebSocketJSBackend.scala
Due: Label scalajs PRs

update scalafix and sbt-lucuma
  build.sbt
  core/src/main/scala/clue/ErrorPolicy.scala
  core/src/main/scala/clue/FetchClientImpl.scala
  core/src/main/scala/clue/clients.scala
  gen/rules/src/main/scala/clue/gen/GraphQLGenConfig.scala
  gen/rules/src/main/scala/clue/gen/QueryGen.scala
  project/plugins.sbt
Due: Label core PRs, Label rules PRs

workflows
  .github/workflows/ci.yml
  .mergify.yml
Due: none

scalafmt
  .scalafmt-common.conf
Due: none

adapt deprecated extractor code
  gen/rules/src/main/scala/clue/gen/Generator.scala
Due: Label rules PRs

more updates
  build.sbt
  gen/input/src/main/scala/test/StarWarsNestedSubquery.scala
  gen/input/src/main/scala/test/StarWarsQuery.scala
  gen/input/src/main/scala/test/StarWarsQuery2.scala
  gen/input/src/main/scala/test/StarWarsQuery3.scala
  gen/input/src/main/scala/test/StarWarsQuery4.scala
  gen/input/src/main/scala/test/StarWarsSubquery.scala
  gen/input/src/main/scala/test/StarWarsSubquery2.scala
  gen/output/src/main/scala/test/StarWarsNestedSubquery.scala
  gen/output/src/main/scala/test/StarWarsQuery.scala
  gen/output/src/main/scala/test/StarWarsQuery2.scala
  gen/output/src/main/scala/test/StarWarsQuery3.scala
  gen/output/src/main/scala/test/StarWarsQuery4.scala
  gen/output/src/main/scala/test/StarWarsSubquery.scala
  gen/output/src/main/scala/test/StarWarsSubquery2.scala
  gen/rules/src/main/scala/clue/gen/Generator.scala
  gen/rules/src/main/scala/clue/gen/GraphQLGen.scala
  gen/rules/src/main/scala/clue/gen/QueryGen.scala
  gen/rules/src/main/scala/clue/gen/annotations.scala
  gen/tests/src/test/scala/clue/gen/RuleSuite.scala
Due: Label input PRs, Label output PRs, Label rules PRs, Label tests PRs

Use `Initial` unapply matchers
  gen/rules/src/main/scala/clue/gen/Generator.scala
  gen/rules/src/main/scala/clue/gen/GraphQLGen.scala
  gen/rules/src/main/scala/clue/gen/QueryGen.scala
  gen/rules/src/main/scala/clue/gen/annotations.scala
Due: Label rules PRs

Bump sbt-scalafix in clue plugin
  build.sbt
Due: none

Try to fix flags
  build.sbt
Due: none

Bump sbt-lucuma
  project/plugins.sbt
Due: none

Regenerate stuff
  .github/workflows/ci.yml
  .scalafmt-common.conf
Due: none

Fix compile
  gen/rules/src/main/scala/clue/gen/GraphQLGen.scala
  gen/rules/src/main/scala/clue/gen/GraphQLGenConfig.scala
  gen/rules/src/main/scala/clue/gen/QueryGen.scala
Due: Label rules PRs

Bump base version
  build.sbt
Due: none

start subscription on opening resource, not stream
  core/src/main/scala/clue/websocket/ApolloClient.scala
Due: Label core PRs

minimal changes
  core/src/main/scala/clue/websocket/ApolloClient.scala
Due: Label core PRs

trace incoming messages
  .gitignore
  core/src/main/scala/clue/websocket/ApolloClient.scala
Due: Label core PRs

propagate extensions, allow empty data
  build.sbt
  core/src/main/scala/clue/ErrorPolicy.scala
  core/src/main/scala/clue/FetchClientImpl.scala
  core/src/main/scala/clue/websocket/ApolloClient.scala
  http4s-jdk-demo/src/main/scala/clue/http4sjdkDemo/Demo.scala
  model/src/main/scala/clue/model/GraphQLDataResponse.scala
  model/src/main/scala/clue/model/GraphQLResponse.scala
  model/src/main/scala/clue/model/StreamingMessage.scala
  model/src/main/scala/clue/model/json/package.scala
  model/src/main/scala/clue/model/package.scala
  model/src/test/scala/clue/ListLimitingDisciplineSuite.scala
  model/src/test/scala/clue/model/GraphQLResponseSpec.scala
  model/src/test/scala/clue/model/arb/ArbFromServer.scala
  model/src/test/scala/clue/model/arb/ArbGraphQLError.scala
  model/src/test/scala/clue/model/arb/ArbGraphQLResponse.scala
  model/src/test/scala/clue/model/json/GraphQLDataResponseJsonSpec.scala
  model/src/test/scala/clue/model/json/GraphQLErrorJsonSpec.scala
  model/src/test/scala/clue/model/json/GraphQLRequestJsonSpec.scala
  model/src/test/scala/clue/model/json/StreamingMessageJsonSpec.scala
Due: Label core PRs, Label http4s-jdk-demo PRs, Label model PRs

organize imports
  model/src/main/scala/clue/model/GraphQLResponse.scala
Due: Label model PRs
