Repository gemini-hlsw/clue: changes, and which Mergify rules are due for each by the changed paths.
All: Label core PRs, Label http4s PRs, Label http4s-jdk-demo PRs, Label input PRs, Label model PRs, Label output PRs, Label rules PRs, Label scalajs PRs, Label tests PRs

Label core PRs:
  label:
    add:
    - core
    remove: []

Label http4s PRs:
  label:
    add:
    - http4s
    remove: []

Label http4s-jdk-demo PRs:
  label:
    add:
    - http4s-jdk-demo
    remove: []

Label input PRs:
  label:
    add:
    - input
    remove: []

Label model PRs:
  label:
    add:
    - model
    remove: []

Label output PRs:
  label:
    add:
    - output
    remove: []

Label rules PRs:
  label:
    add:
    - rules
    remove: []

Label scalajs PRs:
  label:
    add:
    - scalajs
    remove: []

Label tests PRs:
  label:
    add:
    - tests
    remove: []

remove code copied from grackle
  gen/rules/src/main/scala/clue/gen/QueryGen.scala
Due: Label rules PRs

Update
  .github/workflows/ci.yml
  build.sbt
  project/plugins.sbt
Due: none

start implementing deprecated input fields
  gen/input/src/main/resources/graphql/schemas/LucumaODB.graphql
  gen/output/src/main/scala/test/LucumaODBSchema.scala
Due: Label input PRs, Label output PRs

deprecated in inputs
  gen/output/src/main/scala/test/LucumaODBSchema.scala
  gen/output/src/main/scala/test/StarWarsQuery.scala
  gen/output/src/main/scala/test/StarWarsQuery2.scala
  gen/output/src/main/scala/test/StarWarsQuery3.scala
  gen/rules/src/main/scala/clue/gen/Generator.scala
  gen/rules/src/main/scala/clue/gen/SchemaGen.scala
  project/Settings.scala
Due: Label output PRs, Label rules PRs

Handle oneOf input objects
  gen/rules/src/main/scala/clue/gen/QueryGen.scala
  project/Settings.scala
Due: Label rules PRs

Update grackle version to 0.26.0
  project/Settings.scala
Due: none

Only create deeper dummy values for oneOf input objects
  build.sbt
  gen/rules/src/main/scala/clue/gen/QueryGen.scala
Due: Label rules PRs

@oneOf inputs, Isos, Prisms
  gen/input/src/main/resources/graphql/schemas/LucumaODB.graphql
  gen/output/src/main/scala/test/LucumaODBSchema.scala
  gen/output/src/main/scala/test/LucumaQuery.scala
  gen/output/src/main/scala/test/LucumaQuery2.scala
  gen/output/src/main/scala/test/LucumaQuery3.scala
  gen/output/src/main/scala/test/StarWarsQuery.scala
  gen/output/src/main/scala/test/StarWarsQuery2.scala
  gen/output/src/main/scala/test/StarWarsQuery3.scala
  gen/output/src/main/scala/test/StarWarsQuery4.scala
  gen/output/src/main/scala/test/StarWarsSubquery.scala
  gen/rules/src/main/scala/clue/gen/Generator.scala
  gen/rules/src/main/scala/clue/gen/SchemaGen.scala
Due: Label input PRs, Label output PRs, Label rules PRs

contemplate Scalar types
  build.sbt
  gen/input/src/main/resources/graphql/schemas/LucumaODB.graphql
  gen/output/src/main/scala/test/LucumaODBSchema.scala
  gen/rules/src/main/scala/clue/gen/Generator.scala
  gen/rules/src/main/scala/clue/gen/SchemaGen.scala
Due: Label input PRs, Label output PRs, Label rules PRs

scalafix
  gen/rules/src/main/scala/clue/gen/SchemaGen.scala
Due: Label rules PRs

fix test
  gen/input/src/main/scala/test/LucumaODBSchema.scala
  gen/output/src/main/scala/test/LucumaODBSchema.scala
Due: Label input PRs, Label output PRs

better scalar detection
  gen/input/src/main/resources/graphql/schemas/LucumaODB.graphql
  gen/rules/src/main/scala/clue/gen/Generator.scala
  gen/rules/src/main/scala/clue/gen/SchemaGen.scala
Due: Label input PRs, Label rules PRs

use grackle's isOneOf def
  gen/rules/src/main/scala/clue/gen/SchemaGen.scala
Due: Label rules PRs

add utility methods for enums
  gen/output/src/main/scala/test/LucumaODBSchema.scala
  gen/output/src/main/scala/test/StarWarsSchema.scala
  gen/rules/src/main/scala/clue/gen/Generator.scala
Due: Label output PRs, Label rules PRs

add some convenience methods
  model/src/main/scala/clue/data/Input.scala
Due: Label model PRs

apply aliases to subqueries
  gen/input/src/main/scala/test/StarWarsNestedSubquery.scala
  gen/output/src/main/scala/test/StarWarsNestedSubquery.scala
  gen/rules/src/main/scala/clue/gen/QueryGen.scala
Due: Label input PRs, Label output PRs, Label rules PRs

Add natchez module for the http4s client
  build.sbt
  flake.nix
  http4s/src/main/scala/clue/http4s/Http4sHttpClient.scala
  natchez/src/main/scala/clue/natchez/NatchezMiddleware.scala
Due: Label http4s PRs

Added otel4s tracing support for http4s
  build.sbt
  core/src/main/scala/clue/BuildInfo.scala
  flake.lock
  http4s/src/main/scala/clue/http4s/Http4sHttpClient.scala
  natchez/src/main/scala/clue/natchez/NatchezMiddleware.scala
  otel4s/src/main/scala/clue/otel4s/Otel4sMiddleware.scala
  project/Settings.scala
Due: Label core PRs, Label http4s PRs

Updated otel4s to the latest version
  README.md
  build.sbt
  otel4s/src/main/scala/clue/otel4s/Otel4sMiddleware.scala
  project/Settings.scala
Due: none

Update scala version
  build.sbt
  core/src/main/scala/clue/BuildInfo.scala
  http4s/src/main/scala/clue/http4s/Http4sHttpClient.scala
  project/plugins.sbt
Due: Label core PRs, Label http4s PRs

Library updates
  build.sbt
  project/Settings.scala
Due: none

Github workflows
  .github/workflows/ci.yml
  .mergify.yml
Due: none

Scalafmt
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
  http4s/src/main/scala/clue/http4s/Http4sHttpClient.scala
  natchez/src/main/scala/clue/natchez/NatchezMiddleware.scala
  otel4s/src/main/scala/clue/otel4s/Otel4sMiddleware.scala
Due: Label http4s PRs

Use semconv attributes
  build.sbt
  natchez/src/main/scala/clue/natchez/NatchezMiddleware.scala
  otel4s/src/main/scala/clue/otel4s/Otel4sMiddleware.scala
  project/Settings.scala
Due: none

Add W3C trace propagation for WebSocket passing the parent on extensions.
  core/src/main/scala/clue/TraceHeaderInjector.scala
  core/src/main/scala/clue/clients.scala
  core/src/main/scala/clue/websocket/ApolloClient.scala
  http4s/src/main/scala/clue/http4s/package.scala
  natchez/src/main/scala/clue/natchez/NatchezMiddleware.scala
  otel4s/src/main/scala/clue/otel4s/Otel4sMiddleware.scala
  scalajs/src/main/scala/clue/js/package.scala
Due: Label core PRs, Label http4s PRs, Label scalajs PRs

cleanup
  README.md
  core/src/main/scala/clue/TraceHeaderInjector.scala
  http4s/src/main/scala/clue/http4s/package.scala
  otel4s/src/main/scala/clue/otel4s/Otel4sMiddleware.scala
Due: Label core PRs, Label http4s PRs

Delete NatchezMiddleware
  build.sbt
  natchez/src/main/scala/clue/natchez/NatchezMiddleware.scala
  project/Settings.scala
Due: none

Update binary version
  .mergify.yml
  README.md
  build.sbt
  http4s/src/main/scala/clue/http4s/package.scala
  otel4s/src/main/scala/clue/otel4s/Otel4sMiddleware.scala
Due: Label http4s PRs

As suggested in the PR pass the extension on direct requests and refactor common code
  core/src/main/scala/clue/FetchClientImpl.scala
  core/src/main/scala/clue/clients.scala
  core/src/main/scala/clue/websocket/ApolloClient.scala
  otel4s/src/main/scala/clue/otel4s/Otel4sMiddleware.scala
Due: Label core PRs

Only add http method to non-websocket requests
  otel4s/src/main/scala/clue/otel4s/Otel4sMiddleware.scala
Due: none

scalafix
  otel4s/src/main/scala/clue/otel4s/Otel4sMiddleware.scala
Due: none

Formatting
  http4s/src/test/scala/clue/http4s/Http4sWebSocketBackendSuite.scala
Due: Label http4s PRs

Update binary compatibility version
  build.sbt
Due: none

Path conditions:
  Label core PRs: any of: ^core/
  Label http4s PRs: any of: ^http4s/
  Label http4s-jdk-demo PRs: any of: ^http4s-jdk-demo/
  Label input PRs: any of: ^gen/input/
  Label model PRs: any of: ^model/
  Label output PRs: any of: ^gen/output/
  Label rules PRs: any of: ^gen/rules/
  Label scalajs PRs: any of: ^scalajs/
  Label tests PRs: any of: ^gen/tests/
