Repository gemini-hlsw/clue: changes, and which Mergify rules are due for each by the changed paths.
All: Label core PRs, Label http4s PRs, Label http4s-jdk-demo PRs, Label input PRs, Label model PRs, Label output PRs, Label rules PRs, Label scalajs PRs, Label tests PRs

Label core PRs:
  label:
    add:
    - core
    remove: []

Label http4s PRs:
  label:
    add:
    - http4s
    remove: []

Label http4s-jdk-demo PRs:
  label:
    add:
    - http4s-jdk-demo
    remove: []

Label input PRs:
  label:
    add:
    - input
    remove: []

Label model PRs:
  label:
    add:
    - model
    remove: []

Label output PRs:
  label:
    add:
    - output
    remove: []

Label rules PRs:
  label:
    add:
    - rules
    remove: []

Label scalajs PRs:
  label:
    add:
    - scalajs
    remove: []

Label tests PRs:
  label:
    add:
    - tests
    remove: []

prePR
  .github/workflows/ci.yml
  .mergify.yml
  .scalafmt-common.conf
  gen/rules/src/main/scala/clue/gen/Generator.scala
  gen/rules/src/main/scala/clue/gen/QueryGen.scala
  gen/tests/src/test/scala/clue/gen/RuleSuite.scala
  model/src/test/scala/clue/model/arb/ArbFromClient.scala
  model/src/test/scala/clue/model/arb/ArbGraphQLError.scala
  model/src/test/scala/clue/model/json/StreamingMessageJsonSpec.scala
  project/plugins.sbt
  scalajs/src/main/scala/clue/js/FetchJSBackend.scala
Due: Label model PRs, Label rules PRs, Label scalajs PRs, Label tests PRs

scalafixAll
  .scalafix-common.conf
  .scalafix.conf
  build.sbt
  gen/rules/src/test/scala/clue/gen/AccumulatorSuite.scala
  model/src/test/scala/clue/data/InputSpec.scala
  model/src/test/scala/clue/data/arb/ArbInput.scala
  model/src/test/scala/clue/model/arb/ArbFromClient.scala
  model/src/test/scala/clue/model/arb/ArbGraphQLError.scala
  model/src/test/scala/clue/model/arb/ArbGraphQLRequest.scala
  model/src/test/scala/clue/model/arb/ArbJson.scala
  model/src/test/scala/clue/model/json/GraphQLErrorJsonSpec.scala
  model/src/test/scala/clue/model/json/StreamingMessageJsonSpec.scala
  project/plugins.sbt
Due: Label model PRs, Label rules PRs

No removeUnused on scala 3
  .scalafix-common.conf
Due: none

... but do it in the right place
  .scalafix-common.conf
  .scalafix.conf
Due: none

Try to publish rules on clue for scala3
  build.sbt
Due: none

Don't release subscription resource on cancelation
  core/src/main/scala/clue/ApolloClient.scala
Due: Label core PRs

wip generated js classes
  build.sbt
  gen/input/src/main/scala/test/StarWarsQueryJS.scala
  gen/output/src/main/scala/test/StarWarsQueryJS.scala
  gen/rules/src/main/scala/clue/gen/Generator.scala
  gen/rules/src/main/scala/clue/gen/GraphQLGenConfig.scala
  gen/rules/src/main/scala/clue/gen/QueryGen.scala
  gen/rules/src/main/scala/clue/gen/SchemaGen.scala
Due: Label input PRs, Label output PRs, Label rules PRs

Try out cassiphone
  project/Settings.scala
Due: none

Update star wars js output
  gen/output/src/main/scala/test/StarWarsQueryJS.scala
Due: Label output PRs

wip jit decoder
  gen/input/src/main/scala/test/LucumaODBSchema.scala
  gen/input/src/main/scala/test/StarWarsQueryJit.scala
  gen/output/src/main/scala/test/StarWarsQueryJit.scala
  gen/rules/src/main/scala/clue/gen/Generator.scala
  gen/rules/src/main/scala/clue/gen/GraphQLGenConfig.scala
Due: Label input PRs, Label output PRs, Label rules PRs

slow progress
  gen/input/src/main/scala/test/LucumaODBSchema.scala
  gen/input/src/main/scala/test/StarWarsQueryJit.scala
  gen/input/src/main/scala/test/StarWarsSchema.scala
  gen/rules/src/main/scala/clue/gen/Generator.scala
  gen/rules/src/main/scala/clue/gen/SchemaGen.scala
Due: Label input PRs, Label rules PRs

checkpoint jit gen
  build.sbt
  gen/input/src/main/resources/graphql/schemas/StarWarsJit.graphql
  gen/input/src/main/scala/test/StarWarsQueryJit.scala
  gen/input/src/main/scala/test/StarWarsSchemaJit.scala
  gen/output/src/main/scala/test/StarWarsQueryJit.scala
  gen/output/src/main/scala/test/StarWarsSchemaJit.scala
  gen/rules/src/main/scala/clue/gen/Generator.scala
Due: Label input PRs, Label output PRs, Label rules PRs

working-ish enums
  gen/output/src/main/scala/test/StarWarsSchemaJit.scala
  gen/rules/src/main/scala/clue/gen/Generator.scala
Due: Label output PRs, Label rules PRs

Checkpointing opaque data classes
  gen/rules/src/main/scala/clue/gen/Generator.scala
  gen/rules/src/main/scala/clue/gen/QueryGen.scala
Due: Label rules PRs

Only use pure JSON types for jit decoding
  gen/rules/src/main/scala/clue/gen/Generator.scala
  gen/rules/src/main/scala/clue/gen/QueryGen.scala
  gen/rules/src/main/scala/clue/gen/SchemaGen.scala
Due: Label rules PRs

Revert "Only use pure JSON types for jit decoding"
  gen/rules/src/main/scala/clue/gen/Generator.scala
  gen/rules/src/main/scala/clue/gen/QueryGen.scala
  gen/rules/src/main/scala/clue/gen/SchemaGen.scala
Due: Label rules PRs

Handle Option/List
  gen/rules/src/main/scala/clue/gen/Generator.scala
Due: Label rules PRs

Update generated code
  gen/output/src/main/scala/test/StarWarsQueryJit.scala
Due: Label output PRs

Disable lenses
  gen/input/src/main/scala/test/StarWarsQueryJit.scala
  gen/output/src/main/scala/test/StarWarsQueryJit.scala
Due: Label input PRs, Label output PRs

Use `@targetName` annotation
  gen/output/src/main/scala/test/StarWarsQueryJit.scala
  gen/rules/src/main/scala/clue/gen/Generator.scala
Due: Label output PRs, Label rules PRs

Use opaque types correctly
  gen/output/src/main/scala/test/StarWarsQueryJit.scala
  gen/rules/src/main/scala/clue/gen/Generator.scala
Due: Label output PRs, Label rules PRs

Fix the generated decoders
  gen/output/src/main/scala/test/StarWarsQueryJit.scala
  gen/output/src/main/scala/test/StarWarsSchemaJit.scala
  gen/rules/src/main/scala/clue/gen/Generator.scala
Due: Label output PRs, Label rules PRs

Move jit tests to scala-3 folders
  gen/input/src/main/scala-3/test/StarWarsQueryJit.scala
  gen/input/src/main/scala-3/test/StarWarsSchemaJit.scala
  gen/output/src/main/scala-3/test/StarWarsQueryJit.scala
  gen/output/src/main/scala-3/test/StarWarsSchemaJit.scala
Due: Label input PRs, Label output PRs

More robust handling of non-JIT types
  gen/output/src/main/scala-3/test/StarWarsQueryJit.scala
  gen/rules/src/main/scala/clue/gen/Generator.scala
Due: Label output PRs, Label rules PRs

JIT schema is no longer needed
  gen/input/src/main/scala-3/test/StarWarsQueryJit.scala
  gen/input/src/main/scala-3/test/StarWarsSchemaJit.scala
  gen/output/src/main/scala-3/test/StarWarsQueryJit.scala
  gen/output/src/main/scala-3/test/StarWarsSchemaJit.scala
  gen/rules/src/main/scala/clue/gen/Generator.scala
  gen/rules/src/main/scala/clue/gen/SchemaGen.scala
Due: Label input PRs, Label output PRs, Label rules PRs

Delegate eq/show to Json
  gen/output/src/main/scala-3/test/StarWarsQueryJit.scala
  gen/rules/src/main/scala/clue/gen/Generator.scala
Due: Label output PRs, Label rules PRs

scalafmt override
  .scalafmt.conf
Due: none

formatting
  gen/rules/src/main/scala/clue/gen/SchemaGen.scala
Due: Label rules PRs

Bump base version
  build.sbt
Due: none

Implement unapply, but compile is broken :(
  gen/output/src/main/scala-3/test/StarWarsQueryJit.scala
  gen/rules/src/main/scala/clue/gen/Generator.scala
Due: Label output PRs, Label rules PRs

Move extensions to companion
  gen/output/src/main/scala-3/test/StarWarsQueryJit.scala
  gen/rules/src/main/scala/clue/gen/Generator.scala
Due: Label output PRs, Label rules PRs

Formatting
  gen/rules/src/main/scala/clue/gen/Generator.scala
Due: Label rules PRs

snapshot
  .github/workflows/ci.yml
  build.sbt
Due: none

Disable lenses when jit is enabled
  gen/rules/src/main/scala/clue/gen/Generator.scala
Due: Label rules PRs

Gracefully disable jit-decoder for unsupported cases
  gen/rules/src/main/scala/clue/gen/Generator.scala
Due: Label rules PRs

Fix handling of Json objects
  gen/output/src/main/scala-3/test/StarWarsQueryJit.scala
  gen/rules/src/main/scala/clue/gen/Generator.scala
Due: Label output PRs, Label rules PRs

Implement `GenLens` workaround
  gen/rules/src/main/scala/clue/gen/Generator.scala
Due: Label rules PRs

Lenses do not need to be `implicit`
  gen/output/src/main/scala/test/LucumaODBSchema.scala
  gen/output/src/main/scala/test/LucumaQuery.scala
  gen/output/src/main/scala/test/LucumaQuery2.scala
  gen/output/src/main/scala/test/LucumaQuery3.scala
  gen/output/src/main/scala/test/StarWarsQuery.scala
  gen/output/src/main/scala/test/StarWarsQuery2.scala
  gen/rules/src/main/scala/clue/gen/Generator.scala
Due: Label output PRs, Label rules PRs

Generate `monocle.Getter`s for JIT types
  gen/rules/src/main/scala/clue/gen/Generator.scala
Due: Label rules PRs

Add demo project to root
  build.sbt
Due: none

Path conditions:
  Label core PRs: any of: ^core/
  Label http4s PRs: any of: ^http4s/
  Label http4s-jdk-demo PRs: any of: ^http4s-jdk-demo/
  Label input PRs: any of: ^gen/input/
  Label model PRs: any of: ^model/
  Label output PRs: any of: ^gen/output/
  Label rules PRs: any of: ^gen/rules/
  Label scalajs PRs: any of: ^scalajs/
  Label tests PRs: any of: ^gen/tests/
