Repository gemini-hlsw/clue: changes, and which Mergify rules are due for each by the changed paths.
All: Label core PRs, Label http4s PRs, Label http4s-jdk-demo PRs, Label input PRs, Label model PRs, Label output PRs, Label rules PRs, Label scalajs PRs, Label tests PRs

Label core PRs:
  label:
    add:
    - core
    remove: []

Label http4s PRs:
  label:
    add:
    - http4s
    remove: []

Label http4s-jdk-demo PRs:
  label:
    add:
    - http4s-jdk-demo
    remove: []

Label input PRs:
  label:
    add:
    - input
    remove: []

Label model PRs:
  label:
    add:
    - model
    remove: []

Label output PRs:
  label:
    add:
    - output
    remove: []

Label rules PRs:
  label:
    add:
    - rules
    remove: []

Label scalajs PRs:
  label:
    add:
    - scalajs
    remove: []

Label tests PRs:
  label:
    add:
    - tests
    remove: []

git mv
  scalajs/src/main/scala/clue/js/FetchJsBackend.scala
  scalajs/src/main/scala/clue/js/FetchJsClient.scala
  scalajs/src/main/scala/clue/js/FetchJsRequest.scala
  scalajs/src/main/scala/clue/js/WebSocketJsBackend.scala
  scalajs/src/main/scala/clue/js/WebSocketJsClient.scala
Due: Label scalajs PRs

improve ergonomics
  core/src/main/scala/clue/FetchClientImpl.scala
  core/src/main/scala/clue/clients.scala
  core/src/main/scala/clue/websocket/ApolloClient.scala
  http4s-jdk-demo/src/main/scala/clue/http4sjdkDemo/Demo.scala
  model/src/main/scala/clue/model/GraphQLResponse.scala
Due: Label core PRs, Label http4s-jdk-demo PRs, Label model PRs

bump base version
  build.sbt
Due: none

raiseFirstNoDataError, stream can crash, fix one-shot
  core/src/main/scala/clue/clients.scala
  core/src/main/scala/clue/websocket/ApolloClient.scala
  core/src/main/scala/clue/websocket/Emitter.scala
  model/src/main/scala/clue/model/GraphQLResponse.scala
  model/src/main/scala/clue/syntax.scala
Due: Label core PRs, Label model PRs

Increase maxInputValueDepth for grackle parser
  gen/rules/src/main/scala/clue/gen/package.scala
Due: Label rules PRs

Add documentation on how to use the clue plugin
  clue-plugin-integration.md
Due: none

Address some comments
  clue-plugin-integration.md
Due: none

add more info to ws ids
  core/src/main/scala/clue/websocket/ApolloClient.scala
Due: Label core PRs

regenerate workflows
  .github/workflows/ci.yml
  .mergify.yml
Due: none

remove unused imports
  core/src/main/scala/clue/websocket/ApolloClient.scala
Due: Label core PRs

remove another unused import
  scalajs/src/main/scala/clue/js/WebSocketJsBackend.scala
Due: Label scalajs PRs

drop scala 2, upgrade to scala 3.7.1
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
  core/src/main/scala/clue/BigNumberEncoders.scala
  core/src/main/scala/clue/ClientAppliedF.scala
  core/src/main/scala/clue/FetchClientImpl.scala
  core/src/main/scala/clue/GraphQLOperation.scala
  core/src/main/scala/clue/GraphQLSubquery.scala
  core/src/main/scala/clue/PersistentClientStatus.scala
  core/src/main/scala/clue/clients.scala
  core/src/main/scala/clue/package.scala
  core/src/main/scala/clue/websocket/ApolloClient.scala
  model/src/test/scala/clue/model/arb/ArbFromClient.scala
  model/src/test/scala/clue/model/arb/ArbFromServer.scala
  model/src/test/scala/clue/model/arb/ArbJson.scala
  project/plugins.sbt
  scalajs/src/main/scala/clue/js/FetchJsClient.scala
  scalajs/src/main/scala/clue/js/WebSocketJsBackend.scala
  scalajs/src/main/scala/clue/js/WebSocketJsClient.scala
Due: Label core PRs, Label model PRs, Label scalajs PRs

bump sbt-lucuma
  project/plugins.sbt
Due: none

more migration to scala 3
  core/src/main/scala/clue/FetchClientImpl.scala
  core/src/main/scala/clue/clients.scala
  core/src/main/scala/clue/websocket/ApolloClient.scala
  http4s/src/main/scala/clue/http4s/Http4sHttpBackend.scala
  http4s/src/main/scala/clue/http4s/Http4sWebSocketBackend.scala
  model/src/main/scala/clue/model/GraphQLDataResponse.scala
  model/src/main/scala/clue/model/GraphQLError.scala
  model/src/main/scala/clue/model/GraphQLQuery.scala
  model/src/main/scala/clue/model/GraphQLRequest.scala
  model/src/main/scala/clue/model/GraphQLResponse.scala
  model/src/main/scala/clue/model/json/package.scala
  model/src/main/scala/clue/model/package.scala
  model/src/main/scala/clue/syntax.scala
  model/src/test/scala/clue/model/GraphQLResponseSpec.scala
  model/src/test/scala/clue/model/arb/ArbFromClient.scala
  model/src/test/scala/clue/model/arb/ArbFromServer.scala
  model/src/test/scala/clue/model/arb/ArbGraphQLDataResponse.scala
  model/src/test/scala/clue/model/arb/ArbGraphQLError.scala
  model/src/test/scala/clue/model/arb/ArbGraphQLRequest.scala
  model/src/test/scala/clue/model/arb/ArbGraphQLResponse.scala
  model/src/test/scala/clue/model/arb/ArbJson.scala
  model/src/test/scala/clue/model/json/GraphQLDataResponseJsonSpec.scala
  model/src/test/scala/clue/model/json/GraphQLErrorJsonSpec.scala
  model/src/test/scala/clue/model/json/GraphQLRequestJsonSpec.scala
  model/src/test/scala/clue/model/json/StreamingMessageJsonSpec.scala
  scalajs/src/main/scala/clue/js/FetchJsBackend.scala
  scalajs/src/main/scala/clue/js/WebSocketJsBackend.scala
Due: Label core PRs, Label http4s PRs, Label model PRs, Label scalajs PRs

rearrange extensions
  build.sbt
  core/src/main/scala/clue/clients.scala
  model/src/main/scala/clue/model/GraphQLResponse.scala
  model/src/main/scala/clue/syntax.scala
Due: Label core PRs, Label model PRs

remove commente code, better Eq
  model/src/main/scala/clue/data/Input.scala
  model/src/main/scala/clue/model/GraphQLQuery.scala
  model/src/main/scala/clue/syntax.scala
Due: Label model PRs

remove inline
  model/src/main/scala/clue/model/GraphQLQuery.scala
Due: Label model PRs

eq instance
  model/src/main/scala/clue/model/GraphQLQuery.scala
Due: Label model PRs

remove unused import
  core/src/main/scala/clue/clients.scala
Due: Label core PRs

fix extensions forwarding
  core/src/main/scala/clue/clients.scala
Due: Label core PRs

natchez middleware
  build.sbt
  natchez/src/main/scala/clue/natchez/NatchezMiddleware.scala
  project/Settings.scala
Due: none

rebuild workflow
  .mergify.yml
Due: none

switch to graphql-ws protocol
  build.sbt
  core/src/main/scala/clue/websocket/ApolloClient.scala
  http4s/src/main/scala/clue/http4s/Http4sWebSocketBackend.scala
  model/src/main/scala/clue/model/StreamingMessage.scala
  model/src/main/scala/clue/model/json/package.scala
  model/src/test/scala/clue/model/arb/ArbFromClient.scala
  model/src/test/scala/clue/model/arb/ArbFromServer.scala
  model/src/test/scala/clue/model/arb/ArbJson.scala
  project/Settings.scala
Due: Label core PRs, Label http4s PRs, Label model PRs

switch to graphql-ws protocol for ws
  core/src/main/scala/clue/clients.scala
  core/src/main/scala/clue/package.scala
  core/src/main/scala/clue/websocket/ApolloClient.scala
  core/src/main/scala/clue/websocket/CloseParams.scala
  core/src/main/scala/clue/websocket/State.scala
  http4s/src/main/scala/clue/http4s/Http4sWebSocketBackend.scala
  model/src/main/scala/clue/GraphQLException.scala
  model/src/main/scala/clue/model/StreamingMessage.scala
  scalajs/src/main/scala/clue/js/WebSocketJsBackend.scala
Due: Label core PRs, Label http4s PRs, Label model PRs, Label scalajs PRs

change Maps to JsonObject
  core/src/main/scala/clue/clients.scala
  core/src/main/scala/clue/websocket/ApolloClient.scala
  core/src/main/scala/clue/websocket/State.scala
  model/src/main/scala/clue/model/StreamingMessage.scala
  model/src/main/scala/clue/model/json/package.scala
  model/src/main/scala/clue/model/package.scala
  model/src/test/scala/clue/model/arb/ArbFromClient.scala
  model/src/test/scala/clue/model/arb/ArbFromServer.scala
  model/src/test/scala/clue/model/arb/ArbJson.scala
Due: Label core PRs, Label model PRs

fix serialized type for Next
  model/src/main/scala/clue/model/json/package.scala
Due: Label model PRs

field deprecations
  gen/input/src/main/resources/graphql/schemas/StarWars.graphql
  gen/output/src/main/scala/test/StarWarsQuery.scala
  gen/output/src/main/scala/test/StarWarsQuery2.scala
  gen/output/src/main/scala/test/StarWarsQuery3.scala
  gen/rules/src/main/scala/clue/gen/Generator.scala
  gen/rules/src/main/scala/clue/gen/QueryGen.scala
Due: Label input PRs, Label output PRs, Label rules PRs

deprecated enum values - simpler model
  gen/input/src/main/resources/graphql/schemas/LucumaODB.graphql
  gen/output/src/main/scala/test/LucumaODBSchema.scala
  gen/output/src/main/scala/test/StarWarsQuery.scala
  gen/output/src/main/scala/test/StarWarsQuery2.scala
  gen/output/src/main/scala/test/StarWarsQuery3.scala
  gen/rules/src/main/scala/clue/gen/Generator.scala
  gen/rules/src/main/scala/clue/gen/QueryGen.scala
  gen/rules/src/main/scala/clue/gen/SchemaGen.scala
Due: Label input PRs, Label output PRs, Label rules PRs

start implementing deprecated input fields
  gen/input/src/main/resources/graphql/schemas/LucumaODB.graphql
  gen/output/src/main/scala/test/LucumaODBSchema.scala
Due: Label input PRs, Label output PRs

validate query inputs
  gen/rules/src/main/scala/clue/gen/GraphQLGen.scala
  gen/rules/src/main/scala/clue/gen/QueryGen.scala
Due: Label rules PRs

remove code copied from grackle
  gen/rules/src/main/scala/clue/gen/QueryGen.scala
Due: Label rules PRs

use grackle validator with dummy values
  gen/rules/src/main/scala/clue/gen/QueryGen.scala
Due: Label rules PRs

Path conditions:
  Label core PRs: any of: ^core/
  Label http4s PRs: any of: ^http4s/
  Label http4s-jdk-demo PRs: any of: ^http4s-jdk-demo/
  Label input PRs: any of: ^gen/input/
  Label model PRs: any of: ^model/
  Label output PRs: any of: ^gen/output/
  Label rules PRs: any of: ^gen/rules/
  Label scalajs PRs: any of: ^scalajs/
  Label tests PRs: any of: ^gen/tests/
