Repository gemini-hlsw/clue: changes, and which Mergify rules are due for each by the changed paths.
All: Label core PRs, Label http4s PRs, Label http4s-jdk-demo PRs, Label input PRs, Label model PRs, Label output PRs, Label rules PRs, Label scalajs PRs, Label tests PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
  - status-success=Build and Test (ubuntu-latest, 2.13.8, temurin@11, rootJS)
  - status-success=Build and Test (ubuntu-latest, 2.13.8, temurin@11, rootJVM)
  - status-success=Build and Test (ubuntu-latest, 2.13.8, temurin@17, rootJVM)
  - status-success=Build and Test (ubuntu-latest, 3.1.2, temurin@11, rootJS)
  - status-success=Build and Test (ubuntu-latest, 3.1.2, temurin@11, rootJVM)
  - status-success=Build and Test (ubuntu-latest, 3.1.2, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label core PRs
  conditions:
  - files~=^core/
  actions:
    label:
      add:
      - core
      remove: []
- name: Label http4s PRs
  conditions:
  - files~=^http4s/
  actions:
    label:
      add:
      - http4s
      remove: []
- name: Label http4s-jdk-demo PRs
  conditions:
  - files~=^http4s-jdk-demo/
  actions:
    label:
      add:
      - http4s-jdk-demo
      remove: []
- name: Label input PRs
  conditions:
  - files~=^gen/input/
  actions:
    label:
      add:
      - input
      remove: []
- name: Label model PRs
  conditions:
  - files~=^model/
  actions:
    label:
      add:
      - model
      remove: []
- name: Label output PRs
  conditions:
  - files~=^gen/output/
  actions:
    label:
      add:
      - output
      remove: []
- name: Label rules PRs
  conditions:
  - files~=^gen/rules/
  actions:
    label:
      add:
      - rules
      remove: []
- name: Label scalajs PRs
  conditions:
  - files~=^scalajs/
  actions:
    label:
      add:
      - scalajs
      remove: []
- name: Label tests PRs
  conditions:
  - files~=^gen/tests/
  actions:
    label:
      add:
      - tests
      remove: []

Unseal ErrorPolicy and ErrorPolicyProcessor
  core/src/main/scala/clue/ErrorPolicy.scala
Due: Label core PRs

Add Logger to ErrorPolicy
  build.sbt
  core/src/main/scala/clue/ErrorPolicy.scala
  core/src/test/scala/clue/ErrorPolicySpec.scala
  project/Settings.scala
Due: Label core PRs

Formatting
  gen/rules/src/main/scala/clue/gen/Generator.scala
Due: Label rules PRs

Update gen output tests
  gen/output/src/main/scala/test/LucumaODBSchema.scala
  gen/output/src/main/scala/test/StarWarsSchema.scala
Due: Label output PRs

Fix compile error
  gen/rules/src/main/scala/clue/gen/QueryGen.scala
Due: Label rules PRs

Formatting
  gen/rules/src/main/scala/clue/gen/QueryGen.scala
Due: Label rules PRs

Fix subquery wrapped in Term.Block
  gen/rules/src/main/scala/clue/gen/QueryGen.scala
Due: Label rules PRs

optics
  build.sbt
  model/src/main/scala/clue/data/InputOptics.scala
  model/src/main/scala/clue/data/syntax/package.scala
Due: Label model PRs

working
  build.sbt
  model/src/main/scala/clue/data/InputOptics.scala
  model/src/test/scala/clue/data/InputSpec.scala
  project/Settings.scala
Due: Label model PRs

add test
  model/src/main/scala/clue/data/InputOptics.scala
  model/src/main/scala/clue/data/syntax/package.scala
  model/src/test/scala/clue/data/InputSpec.scala
Due: Label model PRs

remove unused import
  model/src/main/scala/clue/data/syntax/package.scala
Due: Label model PRs

better error messages
  core/src/main/scala/clue/GraphQLException.scala
Due: Label core PRs

update
  project/plugins.sbt
Due: none

Update imports and deprecations
  gen/output/src/main/scala/test/StarWarsQuery2.scala
  gen/rules/src/main/scala/clue/gen/Generator.scala
  sbt-plugin/src/main/scala/clue/sbt/CluePlugin.scala
Due: Label output PRs, Label rules PRs

bump circe
  build.sbt
  project/Settings.scala
Due: none

bump grackle
  gen/rules/src/main/scala/clue/gen/Generator.scala
  gen/rules/src/main/scala/clue/gen/GraphQLGen.scala
  gen/rules/src/main/scala/clue/gen/GraphQLGenConfig.scala
  gen/rules/src/main/scala/clue/gen/QueryGen.scala
  gen/rules/src/main/scala/clue/gen/SchemaGen.scala
  gen/rules/src/main/scala/clue/gen/package.scala
  project/Settings.scala
Due: Label rules PRs

scala 3 syntax
  core/src/main/scala/clue/package.scala
  http4s-jdk-demo/src/main/scala/clue/http4sjdkDemo/Demo.scala
  http4s/src/main/scala/clue/http4s/Http4sHttpClient.scala
  model/src/test/scala/clue/model/arb/ArbFromServer.scala
  scalajs/src/main/scala/clue/js/FetchJSClient.scala
Due: Label core PRs, Label http4s PRs, Label http4s-jdk-demo PRs, Label model PRs, Label scalajs PRs

bump base version
  build.sbt
Due: none

manual spreads
  gen/input/src/main/scala/test/StarWarsQuery2.scala
  gen/output/src/main/scala/test/StarWarsQuery2.scala
  gen/rules/src/main/scala/clue/gen/GraphQLGen.scala
  gen/rules/src/main/scala/clue/gen/QueryGen.scala
Due: Label input PRs, Label output PRs, Label rules PRs

remove cancellation cleanup on apollo query
  core/src/main/scala/clue/websocket/ApolloClient.scala
Due: Label core PRs

ConnectionError payload is an object
  model/src/main/scala/clue/model/StreamingMessage.scala
  model/src/main/scala/clue/model/json/package.scala
Due: Label model PRs

scalafix, fix tests
  model/src/test/scala/clue/model/arb/ArbFromServer.scala
Due: Label model PRs

specific exception for init rejected
  core/src/main/scala/clue/GraphQLException.scala
  core/src/main/scala/clue/websocket/ApolloClient.scala
Due: Label core PRs

specific exceptions, async cancel propagation, etc
  build.sbt
  core/src/main/scala/clue/GraphQLException.scala
  core/src/main/scala/clue/clients.scala
  core/src/main/scala/clue/package.scala
  core/src/main/scala/clue/websocket/ApolloClient.scala
  scalajs/src/main/scala/clue/js/WebSocketJSBackend.scala
Due: Label core PRs, Label scalajs PRs

fix comment
  core/src/main/scala/clue/package.scala
Due: Label core PRs

unify connect+initialize
  build.sbt
  core/src/main/scala/clue/PersistentClientStatus.scala
  core/src/main/scala/clue/clients.scala
  core/src/main/scala/clue/package.scala
  core/src/main/scala/clue/websocket/ApolloClient.scala
  core/src/main/scala/clue/websocket/Emitter.scala
  core/src/main/scala/clue/websocket/State.scala
  http4s-jdk-demo/src/main/resources/simplelogger.properties
  http4s-jdk-demo/src/main/scala/clue/http4sjdkDemo/Demo.scala
Due: Label core PRs, Label http4s-jdk-demo PRs

Allow client code to handle errors in subscription events.
  build.sbt
  core/src/main/scala/clue/package.scala
  gen/rules/src/main/scala/clue/gen/QueryGen.scala
Due: Label core PRs, Label rules PRs

Update multiple dependencies
  .github/workflows/ci.yml
  .scalafmt-common.conf
  build.sbt
  core/src/main/scala/clue/backends.scala
  core/src/main/scala/clue/websocket/CloseParams.scala
  gen/rules/src/main/scala/clue/gen/QueryGen.scala
  project/Settings.scala
  project/plugins.sbt
Due: Label core PRs, Label rules PRs

fix templates with empty early initializers
  gen/rules/src/main/scala/clue/gen/Generator.scala
  gen/rules/src/main/scala/clue/gen/GraphQLGen.scala
Due: Label rules PRs

rework of graphQL error handling
  build.sbt
  core/src/main/scala/clue/ErrorPolicy.scala
  core/src/main/scala/clue/FetchClientImpl.scala
  core/src/main/scala/clue/clients.scala
  core/src/main/scala/clue/websocket/ApolloClient.scala
  core/src/test/scala/clue/ErrorPolicySpec.scala
  gen/output/src/main/scala/test/LucumaQuery.scala
  gen/output/src/main/scala/test/LucumaQuery2.scala
  gen/output/src/main/scala/test/LucumaQuery3.scala
  gen/output/src/main/scala/test/StarWarsQuery.scala
  gen/output/src/main/scala/test/StarWarsQuery2.scala
  gen/output/src/main/scala/test/StarWarsQuery3.scala
  gen/output/src/main/scala/test/StarWarsQuery4.scala
  gen/rules/src/main/scala/clue/gen/QueryGen.scala
  http4s-jdk-demo/src/main/scala/clue/http4sjdkDemo/Demo.scala
  model/src/main/scala/clue/GraphQLException.scala
  model/src/main/scala/clue/data/syntax.scala
  model/src/main/scala/clue/model/GraphQLResponse.scala
  model/src/main/scala/clue/syntax.scala
Due: Label core PRs, Label http4s-jdk-demo PRs, Label model PRs, Label output PRs, Label rules PRs

fix typo, allow message in logGraphQLErrors
  model/src/main/scala/clue/model/GraphQLResponse.scala
Due: Label model PRs

typos part 2
  model/src/main/scala/clue/syntax.scala
Due: Label model PRs

typos part 3
  model/src/main/scala/clue/syntax.scala
Due: Label model PRs

docs + JS->Js
  README.md
  build.sbt
  gen/input/src/main/scala/test/StarWarsQuery2.scala
  gen/rules/src/main/scala/clue/gen/Generator.scala
  gen/rules/src/main/scala/clue/gen/GraphQLGenConfig.scala
  gen/rules/src/main/scala/clue/gen/QueryGen.scala
  gen/rules/src/main/scala/clue/gen/SchemaGen.scala
  project/Settings.scala
  scalajs/src/main/scala/clue/js/FetchJSBackend.scala
  scalajs/src/main/scala/clue/js/FetchJSClient.scala
  scalajs/src/main/scala/clue/js/FetchJSRequest.scala
  scalajs/src/main/scala/clue/js/WebSocketJSBackend.scala
  scalajs/src/main/scala/clue/js/WebSocketJSClient.scala
  scalajs/src/main/scala/clue/js/package.scala
Due: Label input PRs, Label rules PRs, Label scalajs PRs
