Repository gemini-hlsw/clue: changes, and which Mergify rules are due for each by the changed paths.
All: Label core PRs, Label http4s PRs, Label http4s-jdk-demo PRs, Label input PRs, Label model PRs, Label output PRs, Label rules PRs, Label scalajs PRs, Label tests PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
  - status-success=Build and Test (ubuntu-latest, 2.13.8, temurin@11, rootJS)
  - status-success=Build and Test (ubuntu-latest, 2.13.8, temurin@11, rootJVM)
  - status-success=Build and Test (ubuntu-latest, 2.13.8, temurin@17, rootJVM)
  - status-success=Build and Test (ubuntu-latest, 3.1.2, temurin@11, rootJS)
  - status-success=Build and Test (ubuntu-latest, 3.1.2, temurin@11, rootJVM)
  - status-success=Build and Test (ubuntu-latest, 3.1.2, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label core PRs
  conditions:
  - files~=^core/
  actions:
    label:
      add:
      - core
      remove: []
- name: Label http4s PRs
  conditions:
  - files~=^http4s/
  actions:
    label:
      add:
      - http4s
      remove: []
- name: Label http4s-jdk-demo PRs
  conditions:
  - files~=^http4s-jdk-demo/
  actions:
    label:
      add:
      - http4s-jdk-demo
      remove: []
- name: Label input PRs
  conditions:
  - files~=^gen/input/
  actions:
    label:
      add:
      - input
      remove: []
- name: Label model PRs
  conditions:
  - files~=^model/
  actions:
    label:
      add:
      - model
      remove: []
- name: Label output PRs
  conditions:
  - files~=^gen/output/
  actions:
    label:
      add:
      - output
      remove: []
- name: Label rules PRs
  conditions:
  - files~=^gen/rules/
  actions:
    label:
      add:
      - rules
      remove: []
- name: Label scalajs PRs
  conditions:
  - files~=^scalajs/
  actions:
    label:
      add:
      - scalajs
      remove: []
- name: Label tests PRs
  conditions:
  - files~=^gen/tests/
  actions:
    label:
      add:
      - tests
      remove: []

tests passing
  core/src/main/scala/clue/clients.scala
  gen/output/src/main/scala/test/LucumaQuery.scala
  gen/output/src/main/scala/test/LucumaQuery2.scala
  gen/output/src/main/scala/test/LucumaQuery3.scala
  gen/output/src/main/scala/test/StarWarsQuery.scala
  gen/output/src/main/scala/test/StarWarsQuery2.scala
  gen/output/src/main/scala/test/StarWarsQuery3.scala
  gen/output/src/main/scala/test/StarWarsQuery4.scala
  gen/rules/src/main/scala/clue/gen/QueryGen.scala
  http4s-jdk-demo/src/main/scala/clue/http4sjdkDemo/Demo.scala
Due: Label core PRs, Label http4s-jdk-demo PRs, Label output PRs, Label rules PRs

Add sbt-plugin to root aggregate
  .mergify.yml
  build.sbt
Due: none

sbt madness
  sbt-plugin/src/main/scala/clue/sbt/CluePlugin.scala
Due: none

This might work
  sbt-plugin/src/main/scala/clue/sbt/CluePlugin.scala
Due: none

refactor
  core/src/main/scala/clue/ApolloClient.scala
  core/src/main/scala/clue/ErrorPolicy.scala
  core/src/main/scala/clue/TransactionalClientImpl.scala
  model/src/main/scala/clue/model/GraphQLDataResponse.scala
  model/src/main/scala/clue/model/GraphQLTransactionalResponse.scala
  model/src/main/scala/clue/model/StreamingMessage.scala
  model/src/main/scala/clue/model/json/package.scala
  model/src/test/scala/clue/model/arb/ArbFromServer.scala
Due: Label core PRs, Label model PRs

more refactor
  model/src/main/scala/clue/model/package.scala
Due: Label model PRs

refactor
  core/src/main/scala/clue/ApolloClient.scala
  core/src/main/scala/clue/ErrorPolicy.scala
  core/src/main/scala/clue/GraphQLException.scala
  model/src/main/scala/clue/model/GraphQLDataResponse.scala
  model/src/main/scala/clue/model/GraphQLTransactionalResponse.scala
  model/src/main/scala/clue/model/StreamingMessage.scala
  model/src/main/scala/clue/model/json/package.scala
  model/src/main/scala/clue/model/package.scala
Due: Label core PRs, Label model PRs

scripted test
  build.sbt
  sbt-plugin/src/main/scala/clue/sbt/CluePlugin.scala
  sbt-plugin/src/sbt-test/clue-plugin/starwars/app/src/main/clue/resources/StarWars.graphql
  sbt-plugin/src/sbt-test/clue-plugin/starwars/app/src/main/clue/scala/StarWarsQuery.scala
  sbt-plugin/src/sbt-test/clue-plugin/starwars/app/src/main/clue/scala/StarWarsSchema.scala
  sbt-plugin/src/sbt-test/clue-plugin/starwars/build.sbt
  sbt-plugin/src/sbt-test/clue-plugin/starwars/project/build.properties
  sbt-plugin/src/sbt-test/clue-plugin/starwars/project/plugins.sbt
  sbt-plugin/src/sbt-test/clue-plugin/starwars/test
Due: none

more refactor
  core/src/main/scala/clue/ApolloClient.scala
  core/src/main/scala/clue/ErrorPolicy.scala
  core/src/main/scala/clue/TransactionalClientImpl.scala
  core/src/main/scala/clue/clients.scala
  http4s-jdk-demo/src/main/scala/clue/http4sjdkDemo/Demo.scala
  model/src/main/scala/clue/model/GraphQLTransactionalResponse.scala
  model/src/main/scala/clue/model/json/package.scala
  model/src/main/scala/clue/model/package.scala
Due: Label core PRs, Label http4s-jdk-demo PRs, Label model PRs

even more refactor
  core/src/main/scala/clue/ApolloClient.scala
  core/src/main/scala/clue/backends.scala
  core/src/main/scala/clue/clients.scala
  http4s/src/main/scala/clue/http4s/Http4sBackend.scala
  model/src/main/scala/clue/model/GraphQLDataResponse.scala
  model/src/main/scala/clue/model/GraphQLRequest.scala
  model/src/main/scala/clue/model/StreamingMessage.scala
  model/src/main/scala/clue/model/json/package.scala
  scalajs/src/main/scala/clue/js/FetchJSBackend.scala
Due: Label core PRs, Label http4s PRs, Label model PRs, Label scalajs PRs

fix tests
  model/src/test/scala/clue/model/arb/ArbFromClient.scala
  model/src/test/scala/clue/model/arb/ArbGraphQLRequest.scala
Due: Label model PRs

errors refactor
  model/src/main/scala/clue/model/GraphQLError.scala
  model/src/main/scala/clue/model/json/package.scala
Due: Label model PRs

more refactor
  core/src/main/scala/clue/ApolloClient.scala
  core/src/main/scala/clue/ErrorPolicy.scala
  http4s/src/main/scala/clue/http4s/Http4sWSBackend.scala
  model/src/main/scala/clue/model/GraphQLDataResponse.scala
  model/src/main/scala/clue/model/GraphQLError.scala
  model/src/main/scala/clue/model/GraphQLRequest.scala
  model/src/main/scala/clue/model/json/package.scala
  model/src/main/scala/clue/model/package.scala
Due: Label core PRs, Label http4s PRs, Label model PRs

update demo
  http4s-jdk-demo/src/main/scala/clue/http4sjdkDemo/Demo.scala
  model/src/main/scala/clue/model/GraphQLDataResponse.scala
  model/src/main/scala/clue/model/GraphQLError.scala
  model/src/main/scala/clue/model/GraphQLRequest.scala
Due: Label http4s-jdk-demo PRs, Label model PRs

arbs fixed, but tests are failing
  model/src/test/scala/clue/model/arb/ArbFromClient.scala
  model/src/test/scala/clue/model/arb/ArbFromServer.scala
  model/src/test/scala/clue/model/arb/ArbGraphQLError.scala
  model/src/test/scala/clue/model/arb/ArbGraphQLRequest.scala
  model/src/test/scala/clue/model/arb/ArbJsonStringObj.scala
Due: Label model PRs

i think this is enough for now
  MACROS.md
  README.md
  core/src/main/scala/clue/ApolloClient.scala
  core/src/main/scala/clue/GraphQLOperation.scala
  core/src/main/scala/clue/TransactionalClientImpl.scala
  core/src/main/scala/clue/clients.scala
  gen/output/src/main/scala/test/LucumaODBSchema.scala
  gen/output/src/main/scala/test/LucumaQuery.scala
  gen/output/src/main/scala/test/LucumaQuery2.scala
  gen/output/src/main/scala/test/LucumaQuery3.scala
  gen/output/src/main/scala/test/StarWarsQuery.scala
  gen/output/src/main/scala/test/StarWarsQuery2.scala
  gen/output/src/main/scala/test/StarWarsQuery3.scala
  gen/output/src/main/scala/test/StarWarsQuery4.scala
  gen/rules/src/main/scala/clue/gen/Generator.scala
  gen/rules/src/main/scala/clue/gen/QueryGen.scala
  gen/rules/src/main/scala/clue/gen/SchemaGen.scala
  http4s-jdk-demo/src/main/scala/clue/http4sjdkDemo/Demo.scala
  model/src/main/scala/clue/data/Input.scala
  model/src/main/scala/clue/data/package.scala
  model/src/main/scala/clue/data/syntax/package.scala
  model/src/main/scala/clue/model/StreamingMessage.scala
  model/src/main/scala/clue/model/json/package.scala
  model/src/test/scala/clue/data/InputSpec.scala
  model/src/test/scala/clue/model/arb/ArbFromClient.scala
  model/src/test/scala/clue/model/arb/ArbFromServer.scala
  model/src/test/scala/clue/model/arb/ArbGraphQLDataResponse.scala
  model/src/test/scala/clue/model/arb/ArbGraphQLError.scala
  model/src/test/scala/clue/model/arb/ArbJsonStringObj.scala
  model/src/test/scala/clue/model/json/GraphQLDataResponseJsonSpec.scala
  model/src/test/scala/clue/model/json/GraphQLErrorJsonSpec.scala
  model/src/test/scala/clue/model/json/GraphQLRequestJsonSpec.scala
Due: Label core PRs, Label http4s-jdk-demo PRs, Label model PRs, Label output PRs, Label rules PRs

first version of ErrorPolicy
  MACROS.md
  core/src/main/scala/clue/ApolloClient.scala
  core/src/main/scala/clue/ErrorPolicy.scala
  core/src/main/scala/clue/GraphQLException.scala
  core/src/main/scala/clue/TransactionalClientImpl.scala
  core/src/main/scala/clue/clients.scala
  core/src/main/scala/clue/package.scala
  gen/output/src/main/scala/test/LucumaQuery.scala
  gen/output/src/main/scala/test/LucumaQuery2.scala
  gen/output/src/main/scala/test/LucumaQuery3.scala
  gen/output/src/main/scala/test/StarWarsQuery.scala
  gen/output/src/main/scala/test/StarWarsQuery2.scala
  gen/output/src/main/scala/test/StarWarsQuery3.scala
  gen/output/src/main/scala/test/StarWarsQuery4.scala
  gen/rules/src/main/scala/clue/gen/QueryGen.scala
  http4s-jdk-demo/src/main/scala/clue/http4sjdkDemo/Demo.scala
  model/src/main/scala/clue/model/GraphQLResponse.scala
  model/src/main/scala/clue/model/StreamingMessage.scala
  model/src/main/scala/clue/model/json/package.scala
  model/src/test/scala/clue/model/arb/ArbFromServer.scala
  scalajs/src/main/scala/clue/js/WebSocketJSBackend.scala
Due: Label core PRs, Label http4s-jdk-demo PRs, Label model PRs, Label output PRs, Label rules PRs, Label scalajs PRs

new approach
  core/src/main/scala/clue/ApolloClient.scala
  core/src/main/scala/clue/ErrorPolicy.scala
  core/src/main/scala/clue/TransactionalClientImpl.scala
  core/src/main/scala/clue/clients.scala
  core/src/main/scala/clue/package.scala
  gen/output/src/main/scala/test/LucumaQuery.scala
  gen/output/src/main/scala/test/LucumaQuery2.scala
  gen/output/src/main/scala/test/LucumaQuery3.scala
  gen/output/src/main/scala/test/StarWarsQuery.scala
  gen/output/src/main/scala/test/StarWarsQuery2.scala
  gen/output/src/main/scala/test/StarWarsQuery3.scala
  gen/output/src/main/scala/test/StarWarsQuery4.scala
  gen/rules/src/main/scala/clue/gen/QueryGen.scala
  http4s-jdk-demo/src/main/scala/clue/http4sjdkDemo/Demo.scala
Due: Label core PRs, Label http4s-jdk-demo PRs, Label output PRs, Label rules PRs

refactor
  core/src/main/scala/clue/ApolloClient.scala
  core/src/main/scala/clue/ErrorPolicy.scala
  core/src/main/scala/clue/GraphQLException.scala
  core/src/main/scala/clue/TransactionalClientImpl.scala
  core/src/main/scala/clue/backends.scala
  core/src/main/scala/clue/clients.scala
  http4s-jdk-demo/src/main/scala/clue/http4sjdkDemo/Demo.scala
  http4s/src/main/scala/clue/http4s/Http4sBackend.scala
  http4s/src/main/scala/clue/http4s/Http4sWSBackend.scala
  model/src/main/scala/clue/model/GraphQLDataResponse.scala
  model/src/main/scala/clue/model/GraphQLError.scala
  model/src/main/scala/clue/model/GraphQLRequest.scala
  model/src/main/scala/clue/model/StreamingMessage.scala
  model/src/main/scala/clue/model/json/package.scala
  model/src/main/scala/clue/model/package.scala
  model/src/test/scala/clue/model/arb/ArbFromClient.scala
  model/src/test/scala/clue/model/arb/ArbFromServer.scala
  model/src/test/scala/clue/model/arb/ArbGraphQLRequest.scala
  scalajs/src/main/scala/clue/js/FetchJSBackend.scala
Due: Label core PRs, Label http4s PRs, Label http4s-jdk-demo PRs, Label model PRs, Label scalajs PRs

tests, AsObject
  MACROS.md
  README.md
  core/src/main/scala/clue/ApolloClient.scala
  core/src/main/scala/clue/GraphQLOperation.scala
  core/src/main/scala/clue/TransactionalClientImpl.scala
  core/src/main/scala/clue/clients.scala
  gen/output/src/main/scala/test/LucumaODBSchema.scala
  gen/output/src/main/scala/test/LucumaQuery.scala
  gen/output/src/main/scala/test/LucumaQuery2.scala
  gen/output/src/main/scala/test/LucumaQuery3.scala
  gen/output/src/main/scala/test/StarWarsQuery.scala
  gen/output/src/main/scala/test/StarWarsQuery2.scala
  gen/output/src/main/scala/test/StarWarsQuery3.scala
  gen/output/src/main/scala/test/StarWarsQuery4.scala
  gen/rules/src/main/scala/clue/gen/Generator.scala
  gen/rules/src/main/scala/clue/gen/QueryGen.scala
  gen/rules/src/main/scala/clue/gen/SchemaGen.scala
  http4s-jdk-demo/src/main/scala/clue/http4sjdkDemo/Demo.scala
  model/src/main/scala/clue/data/Input.scala
  model/src/main/scala/clue/data/package.scala
  model/src/main/scala/clue/data/syntax/package.scala
  model/src/main/scala/clue/model/StreamingMessage.scala
  model/src/main/scala/clue/model/json/package.scala
  model/src/test/scala/clue/data/InputSpec.scala
  model/src/test/scala/clue/model/arb/ArbFromClient.scala
  model/src/test/scala/clue/model/arb/ArbFromServer.scala
  model/src/test/scala/clue/model/arb/ArbGraphQLDataResponse.scala
  model/src/test/scala/clue/model/arb/ArbGraphQLError.scala
  model/src/test/scala/clue/model/arb/ArbGraphQLRequest.scala
  model/src/test/scala/clue/model/arb/ArbJsonStringObj.scala
  model/src/test/scala/clue/model/json/GraphQLDataResponseJsonSpec.scala
  model/src/test/scala/clue/model/json/GraphQLErrorJsonSpec.scala
  model/src/test/scala/clue/model/json/GraphQLRequestJsonSpec.scala
Due: Label core PRs, Label http4s-jdk-demo PRs, Label model PRs, Label output PRs, Label rules PRs

adjust code
  core/src/main/scala/clue/GraphQLException.scala
  core/src/main/scala/clue/package.scala
  model/src/main/scala/clue/data/syntax/package.scala
  model/src/main/scala/clue/model/StreamingMessage.scala
  model/src/main/scala/clue/model/json/package.scala
  model/src/test/scala/clue/model/arb/ArbJsonStringObj.scala
Due: Label core PRs, Label model PRs

remove comments
  core/src/main/scala/clue/ApolloClient.scala
  core/src/main/scala/clue/ErrorPolicy.scala
Due: Label core PRs

bump base version, fix Demo
  build.sbt
  http4s-jdk-demo/src/main/scala/clue/http4sjdkDemo/Demo.scala
Due: Label http4s-jdk-demo PRs

more organize imports
  model/src/test/scala/clue/model/arb/ArbFromClient.scala
  model/src/test/scala/clue/model/arb/ArbFromServer.scala
Due: Label model PRs

limit list size in tests
  model/src/test/scala/clue/model/json/GraphQLDataResponseJsonSpec.scala
  model/src/test/scala/clue/model/json/GraphQLErrorJsonSpec.scala
  model/src/test/scala/clue/model/json/GraphQLRequestJsonSpec.scala
  model/src/test/scala/clue/model/json/ListLimitingDisciplineSuite.scala
  model/src/test/scala/clue/model/json/StreamingMessageJsonSpec.scala
Due: Label model PRs

organize imports in tests
  model/src/test/scala/clue/model/arb/ArbFromClient.scala
  model/src/test/scala/clue/model/arb/ArbFromServer.scala
  model/src/test/scala/clue/model/arb/ArbGraphQLDataResponse.scala
  model/src/test/scala/clue/model/arb/ArbGraphQLError.scala
  model/src/test/scala/clue/model/json/GraphQLDataResponseJsonSpec.scala
  model/src/test/scala/clue/model/json/GraphQLRequestJsonSpec.scala
Due: Label model PRs

scalafmt
  core/src/main/scala/clue/clients.scala
Due: Label core PRs

remove commented code
  core/src/main/scala/clue/clients.scala
  http4s-jdk-demo/src/main/scala/clue/http4sjdkDemo/Demo.scala
  model/src/main/scala/clue/data/syntax/package.scala
Due: Label core PRs, Label http4s-jdk-demo PRs, Label model PRs

address PR comments
  core/src/main/scala/clue/ApolloClient.scala
  core/src/main/scala/clue/ErrorPolicy.scala
  core/src/main/scala/clue/GraphQLException.scala
  core/src/main/scala/clue/TransactionalClientImpl.scala
  core/src/main/scala/clue/clients.scala
  scalajs/src/main/scala/clue/js/WebSocketJSBackend.scala
Due: Label core PRs, Label scalajs PRs

decoupling+fetch rename
  build.sbt
  core/src/main/scala/clue/ApolloClient.scala
  core/src/main/scala/clue/FetchClientImpl.scala
  core/src/main/scala/clue/backends.scala
  core/src/main/scala/clue/clients.scala
  core/src/main/scala/clue/package.scala
  core/src/main/scala/clue/websocket/ApolloWebSocketClient.scala
  core/src/main/scala/clue/websocket/WebSocketCloseParams.scala
  core/src/main/scala/clue/websocket/package.scala
  gen/output/src/main/scala/test/LucumaQuery.scala
  gen/output/src/main/scala/test/LucumaQuery2.scala
  gen/output/src/main/scala/test/LucumaQuery3.scala
  gen/output/src/main/scala/test/StarWarsQuery.scala
  gen/output/src/main/scala/test/StarWarsQuery2.scala
  gen/output/src/main/scala/test/StarWarsQuery3.scala
  gen/output/src/main/scala/test/StarWarsQuery4.scala
  gen/rules/src/main/scala/clue/gen/QueryGen.scala
  http4s-jdk-demo/src/main/scala/clue/http4sjdkDemo/Demo.scala
  http4s/src/main/scala/clue/http4s/Http4sBackend.scala
  http4s/src/main/scala/clue/http4s/Http4sHttpBackend.scala
  http4s/src/main/scala/clue/http4s/Http4sHttpClient.scala
  http4s/src/main/scala/clue/http4s/Http4sWebSocketBackend.scala
  http4s/src/main/scala/clue/http4s/Http4sWebSocketClient.scala
  model/src/main/scala/clue/data/Input.scala
  scalajs/src/main/scala/clue/js/FetchJSBackend.scala
  scalajs/src/main/scala/clue/js/FetchJSRequest.scala
  scalajs/src/main/scala/clue/js/WebSocketJSBackend.scala
Due: Label core PRs, Label http4s PRs, Label http4s-jdk-demo PRs, Label model PRs, Label output PRs, Label rules PRs, Label scalajs PRs

request parameters passthrough
  core/src/main/scala/clue/ApolloClient.scala
  core/src/main/scala/clue/ClientAppliedF.scala
  core/src/main/scala/clue/FetchClientImpl.scala
  core/src/main/scala/clue/backends.scala
  core/src/main/scala/clue/clients.scala
  gen/output/src/main/scala/test/LucumaQuery.scala
  gen/output/src/main/scala/test/LucumaQuery2.scala
  gen/output/src/main/scala/test/LucumaQuery3.scala
  gen/output/src/main/scala/test/StarWarsQuery.scala
  gen/output/src/main/scala/test/StarWarsQuery2.scala
  gen/output/src/main/scala/test/StarWarsQuery3.scala
  gen/output/src/main/scala/test/StarWarsQuery4.scala
  gen/rules/src/main/scala/clue/gen/GraphQLGen.scala
  gen/rules/src/main/scala/clue/gen/QueryGen.scala
  http4s-jdk-demo/src/main/scala/clue/http4sjdkDemo/Demo.scala
  http4s/src/main/scala/clue/http4s/package.scala
  model/src/main/scala/clue/data/Input.scala
  scalajs/src/main/scala/clue/js/FetchJSBackend.scala
  scalajs/src/main/scala/clue/js/FetchJSClient.scala
  scalajs/src/main/scala/clue/js/WebSocketJSClient.scala
  scalajs/src/main/scala/clue/js/package.scala
Due: Label core PRs, Label http4s PRs, Label http4s-jdk-demo PRs, Label model PRs, Label output PRs, Label rules PRs, Label scalajs PRs

copy headers in fetch-js post
  scalajs/src/main/scala/clue/js/FetchJSBackend.scala
Due: Label scalajs PRs

Fixing up
  build.sbt
  sbt-plugin/src/main/scala/clue/sbt/CluePlugin.scala
  sbt-plugin/src/sbt-test/clue-plugin/starwars/.scalafix.conf
  sbt-plugin/src/sbt-test/clue-plugin/starwars/app/src/clue/scala/StarWarsQuery.scala
  sbt-plugin/src/sbt-test/clue-plugin/starwars/app/src/clue/scala/StarWarsSchema.scala
  sbt-plugin/src/sbt-test/clue-plugin/starwars/app/src/main/src/main/scala/App.scala
  sbt-plugin/src/sbt-test/clue-plugin/starwars/build.sbt
  sbt-plugin/src/sbt-test/clue-plugin/starwars/schemas/StarWars.graphql
  sbt-plugin/src/sbt-test/clue-plugin/starwars/test
Due: none

formatting
  build.sbt
Due: none

Bump base version
  build.sbt
Due: none

Clean generator project when cleaning clue project
  sbt-plugin/src/main/scala/clue/sbt/CluePlugin.scala
  sbt-plugin/src/sbt-test/clue-plugin/starwars/test
Due: none

always make copy of fetch js headers
  scalajs/src/main/scala/clue/js/FetchJSBackend.scala
Due: Label scalajs PRs

simplify ApolloClient
  core/src/main/scala/clue/backends.scala
  core/src/main/scala/clue/package.scala
  core/src/main/scala/clue/websocket/ApolloClient.scala
  core/src/main/scala/clue/websocket/ApolloWebSocketClient.scala
  core/src/main/scala/clue/websocket/CloseParams.scala
  core/src/main/scala/clue/websocket/WebSocketCloseParams.scala
  core/src/main/scala/clue/websocket/package.scala
  http4s/src/main/scala/clue/http4s/Http4sWebSocketBackend.scala
  http4s/src/main/scala/clue/http4s/Http4sWebSocketClient.scala
  scalajs/src/main/scala/clue/js/WebSocketJSBackend.scala
  scalajs/src/main/scala/clue/js/WebSocketJSClient.scala
  scalajs/src/main/scala/clue/js/package.scala
Due: Label core PRs, Label http4s PRs, Label scalajs PRs

bump base version
  build.sbt
Due: none
