Repository gemini-hlsw/clue: changes, and which Mergify rules are due for each by the changed paths.
All: Label core PRs, Label http4s PRs, Label http4s-jdk-demo PRs, Label input PRs, Label model PRs, Label output PRs, Label rules PRs, Label scalajs PRs, Label tests PRs

Label core PRs:
  label:
    add:
    - core
    remove: []

Label http4s PRs:
  label:
    add:
    - http4s
    remove: []

Label http4s-jdk-demo PRs:
  label:
    add:
    - http4s-jdk-demo
    remove: []

Label input PRs:
  label:
    add:
    - input
    remove: []

Label model PRs:
  label:
    add:
    - model
    remove: []

Label output PRs:
  label:
    add:
    - output
    remove: []

Label rules PRs:
  label:
    add:
    - rules
    remove: []

Label scalajs PRs:
  label:
    add:
    - scalajs
    remove: []

Label tests PRs:
  label:
    add:
    - tests
    remove: []

fix compile
  http4s-jdk-demo/src/main/scala/clue/http4sjdkDemo/Demo.scala
Due: Label http4s-jdk-demo PRs

Fix compile
  http4s-jdk-demo/src/main/scala/clue/http4sjdkDemo/Demo.scala
Due: Label http4s-jdk-demo PRs

Add `GraphQLSubquery` trait
  core/src/main/scala/clue/GraphQLSubquery.scala
Due: Label core PRs

Use `final val document = ...`
  gen/input/src/main/scala/test/LucumaQuery.scala
  gen/input/src/main/scala/test/LucumaQuery2.scala
  gen/input/src/main/scala/test/LucumaQuery3.scala
  gen/input/src/main/scala/test/StarWarsQuery.scala
  gen/input/src/main/scala/test/StarWarsQuery2.scala
  gen/output/src/main/scala/test/LucumaQuery.scala
  gen/output/src/main/scala/test/LucumaQuery2.scala
  gen/output/src/main/scala/test/LucumaQuery3.scala
  gen/output/src/main/scala/test/StarWarsQuery.scala
  gen/output/src/main/scala/test/StarWarsQuery2.scala
Due: Label input PRs, Label output PRs

Update error msg
  gen/rules/src/main/scala/clue/gen/GraphQLGen.scala
Due: Label rules PRs

wip query concatenation
  gen/input/src/main/scala/test/StarWarsQuery2.scala
  gen/rules/src/main/scala/clue/gen/QueryGen.scala
Due: Label input PRs, Label rules PRs

Implement subquery generation
  core/src/main/scala/clue/GraphQLSubquery.scala
  core/src/main/scala/clue/annotation/GraphQLSubquery.scala
  gen/input/src/main/scala/test/StarWarsSubquery.scala
  gen/output/src/main/scala/test/StarWarsSubquery.scala
  gen/rules/src/main/scala/clue/gen/GraphQLGen.scala
  gen/rules/src/main/scala/clue/gen/QueryGen.scala
  gen/rules/src/main/scala/clue/gen/annotations.scala
Due: Label core PRs, Label input PRs, Label output PRs, Label rules PRs

Towards subquery interpolation
  core/src/main/scala/clue/GraphQLSubquery.scala
  core/src/main/scala/clue/annotation/GraphQLStub.scala
  gen/input/src/main/scala/test/StarWarsQuery3.scala
  gen/input/src/main/scala/test/StarWarsSubquery.scala
  gen/output/src/main/scala/test/StarWarsSubquery.scala
  gen/rules/src/main/scala/clue/gen/GraphQLGen.scala
  gen/rules/src/main/scala/clue/gen/annotations.scala
Due: Label core PRs, Label input PRs, Label output PRs, Label rules PRs

Wip threading through subquery interpolation
  gen/rules/src/main/scala/clue/gen/GraphQLGen.scala
  gen/rules/src/main/scala/clue/gen/QueryGen.scala
Due: Label rules PRs

Switch to debug for Complete on Disconnected
  core/src/main/scala/clue/ApolloClient.scala
Due: Label core PRs

Checkpoint progress on subquery interpolation
  gen/output/src/main/scala/test/StarWarsQuery3.scala
  gen/rules/src/main/scala/clue/gen/QueryGen.scala
Due: Label output PRs, Label rules PRs

Fix handling of list/nullable types
  gen/rules/src/main/scala/clue/gen/Generator.scala
  gen/rules/src/main/scala/clue/gen/QueryGen.scala
Due: Label rules PRs

Bump base version
  build.sbt
Due: none

Add quoting encoders for Long, BigInt and BigDecimal
  core/src/main/scala/clue/BigNumberEncoders.scala
Due: Label core PRs

Remove dead code
  gen/rules/src/main/scala/clue/gen/GraphQLGen.scala
Due: Label rules PRs

Remove `GraphQLSubquery` annotation
  core/src/main/scala/clue/annotation/GraphQLSubquery.scala
  gen/input/src/main/scala/test/StarWarsSubquery.scala
  gen/rules/src/main/scala/clue/gen/GraphQLGen.scala
  gen/rules/src/main/scala/clue/gen/annotations.scala
Due: Label core PRs, Label input PRs, Label rules PRs

Formatting
  gen/rules/src/main/scala/clue/gen/GraphQLGen.scala
Due: Label rules PRs

Pass subquery roottype as a parameter
  core/src/main/scala/clue/GraphQLSubquery.scala
  gen/input/src/main/scala/test/StarWarsSubquery.scala
  gen/output/src/main/scala/test/StarWarsSubquery.scala
  gen/rules/src/main/scala/clue/gen/GraphQLGen.scala
  gen/rules/src/main/scala/clue/gen/QueryGen.scala
Due: Label core PRs, Label input PRs, Label output PRs, Label rules PRs

GraphQLSubquery.Typed
  core/src/main/scala/clue/GraphQLSubquery.scala
Due: Label core PRs

Support nested subqueries
  gen/input/src/main/scala/test/StarWarsNestedSubquery.scala
  gen/input/src/main/scala/test/StarWarsQuery4.scala
  gen/output/src/main/scala/test/StarWarsNestedSubquery.scala
  gen/output/src/main/scala/test/StarWarsQuery4.scala
  gen/rules/src/main/scala/clue/gen/GraphQLGen.scala
  gen/rules/src/main/scala/clue/gen/QueryGen.scala
Due: Label input PRs, Label output PRs, Label rules PRs

DRY
  gen/rules/src/main/scala/clue/gen/QueryGen.scala
Due: Label rules PRs

downgrade circe
  project/Settings.scala
Due: none

Sketching clue sbt plugin
  build.sbt
  project/plugins.sbt
  sbt-plugin/src/main/scala/clue/sbt/CluePlugin.scala
Due: none

first version of ErrorPolicy
  core/src/main/scala/clue/ApolloClient.scala
  core/src/main/scala/clue/ErrorPolicy.scala
  core/src/main/scala/clue/GraphQLException.scala
  core/src/main/scala/clue/clients.scala
Due: Label core PRs

good progress
  core/src/main/scala/clue/ErrorPolicy.scala
  core/src/main/scala/clue/TransactionalClientImpl.scala
  model/src/main/scala/clue/model/GraphQLResponse.scala
  model/src/main/scala/clue/model/json/package.scala
Due: Label core PRs, Label model PRs

ditto
  core/src/main/scala/clue/clients.scala
Due: Label core PRs

compiling
  core/src/main/scala/clue/ApolloClient.scala
Due: Label core PRs

adapted streaming client interface
  core/src/main/scala/clue/ApolloClient.scala
  core/src/main/scala/clue/clients.scala
Due: Label core PRs

before messages rework
  core/src/main/scala/clue/ApolloClient.scala
Due: Label core PRs

almost there
  core/src/main/scala/clue/ApolloClient.scala
  http4s-jdk-demo/src/main/scala/clue/http4sjdkDemo/Demo.scala
  model/src/main/scala/clue/model/StreamingMessage.scala
  model/src/main/scala/clue/model/json/package.scala
Due: Label core PRs, Label http4s-jdk-demo PRs, Label model PRs

i think this might just work
  core/src/main/scala/clue/ApolloClient.scala
  core/src/main/scala/clue/ErrorPolicy.scala
  core/src/main/scala/clue/TransactionalClientImpl.scala
  core/src/main/scala/clue/clients.scala
  core/src/main/scala/clue/package.scala
  http4s-jdk-demo/src/main/scala/clue/http4sjdkDemo/Demo.scala
Due: Label core PRs, Label http4s-jdk-demo PRs

a bit better
  core/src/main/scala/clue/clients.scala
  http4s-jdk-demo/src/main/scala/clue/http4sjdkDemo/Demo.scala
  scalajs/src/main/scala/clue/js/WebSocketJSBackend.scala
Due: Label core PRs, Label http4s-jdk-demo PRs, Label scalajs PRs

everything compiling, gen next
  gen/output/src/main/scala/test/LucumaQuery.scala
  gen/output/src/main/scala/test/LucumaQuery2.scala
  gen/output/src/main/scala/test/LucumaQuery3.scala
  gen/output/src/main/scala/test/StarWarsQuery.scala
  gen/output/src/main/scala/test/StarWarsQuery2.scala
  gen/output/src/main/scala/test/StarWarsQuery3.scala
  gen/output/src/main/scala/test/StarWarsQuery4.scala
  model/src/test/scala/clue/model/arb/ArbFromServer.scala
Due: Label model PRs, Label output PRs

experiments
  gen/output/src/main/scala/test/LucumaQuery.scala
  gen/rules/src/main/scala/clue/gen/QueryGen.scala
  http4s-jdk-demo/src/main/scala/clue/http4sjdkDemo/Demo.scala
Due: Label http4s-jdk-demo PRs, Label output PRs, Label rules PRs

everything working
  MACROS.md
  gen/output/src/main/scala/test/LucumaQuery.scala
  gen/output/src/main/scala/test/LucumaQuery2.scala
  gen/output/src/main/scala/test/LucumaQuery3.scala
  gen/output/src/main/scala/test/StarWarsQuery.scala
  gen/output/src/main/scala/test/StarWarsQuery2.scala
  gen/output/src/main/scala/test/StarWarsQuery3.scala
  gen/output/src/main/scala/test/StarWarsQuery4.scala
  gen/rules/src/main/scala/clue/gen/QueryGen.scala
  http4s-jdk-demo/src/main/scala/clue/http4sjdkDemo/Demo.scala
Due: Label http4s-jdk-demo PRs, Label output PRs, Label rules PRs

organize imports
  core/src/main/scala/clue/ApolloClient.scala
  core/src/main/scala/clue/ErrorPolicy.scala
  core/src/main/scala/clue/GraphQLException.scala
  core/src/main/scala/clue/clients.scala
  model/src/main/scala/clue/model/GraphQLResponse.scala
  model/src/main/scala/clue/model/StreamingMessage.scala
  model/src/main/scala/clue/model/json/package.scala
Due: Label core PRs, Label model PRs

think I got something, we need renames
  core/src/main/scala/clue/ApolloClient.scala
  core/src/main/scala/clue/TransactionalClientImpl.scala
  gen/output/src/main/scala/test/LucumaQuery.scala
  gen/output/src/main/scala/test/LucumaQuery2.scala
  gen/output/src/main/scala/test/LucumaQuery3.scala
  gen/output/src/main/scala/test/StarWarsQuery.scala
  gen/output/src/main/scala/test/StarWarsQuery2.scala
  gen/output/src/main/scala/test/StarWarsQuery3.scala
  gen/output/src/main/scala/test/StarWarsQuery4.scala
Due: Label core PRs, Label output PRs

halfway rename
  core/src/main/scala/clue/ErrorPolicy.scala
  core/src/main/scala/clue/clients.scala
  core/src/main/scala/clue/package.scala
  gen/output/src/main/scala/test/LucumaQuery.scala
  gen/output/src/main/scala/test/LucumaQuery2.scala
  gen/output/src/main/scala/test/LucumaQuery3.scala
  gen/output/src/main/scala/test/StarWarsQuery.scala
  gen/output/src/main/scala/test/StarWarsQuery2.scala
  gen/output/src/main/scala/test/StarWarsQuery3.scala
  gen/output/src/main/scala/test/StarWarsQuery4.scala
  http4s-jdk-demo/src/main/scala/clue/http4sjdkDemo/Demo.scala
Due: Label core PRs, Label http4s-jdk-demo PRs, Label output PRs

oooooh
  core/src/main/scala/clue/clients.scala
  http4s-jdk-demo/src/main/scala/clue/http4sjdkDemo/Demo.scala
Due: Label core PRs, Label http4s-jdk-demo PRs

Path conditions:
  Label core PRs: any of: ^core/
  Label http4s PRs: any of: ^http4s/
  Label http4s-jdk-demo PRs: any of: ^http4s-jdk-demo/
  Label input PRs: any of: ^gen/input/
  Label model PRs: any of: ^model/
  Label output PRs: any of: ^gen/output/
  Label rules PRs: any of: ^gen/rules/
  Label scalajs PRs: any of: ^scalajs/
  Label tests PRs: any of: ^gen/tests/
