Repository gemini-hlsw/clue: changes, and which Mergify rules are due for each by the changed paths.
All: Label core PRs, Label http4s PRs, Label http4s-jdk-demo PRs, Label input PRs, Label model PRs, Label output PRs, Label rules PRs, Label scalajs PRs, Label tests PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
  - status-success=Build and Test (ubuntu-latest, 2.13.8, temurin@11, rootJS)
  - status-success=Build and Test (ubuntu-latest, 2.13.8, temurin@11, rootJVM)
  - status-success=Build and Test (ubuntu-latest, 2.13.8, temurin@17, rootJVM)
  - status-success=Build and Test (ubuntu-latest, 3.1.2, temurin@11, rootJS)
  - status-success=Build and Test (ubuntu-latest, 3.1.2, temurin@11, rootJVM)
  - status-success=Build and Test (ubuntu-latest, 3.1.2, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label core PRs
  conditions:
  - files~=^core/
  actions:
    label:
      add:
      - core
      remove: []
- name: Label http4s PRs
  conditions:
  - files~=^http4s/
  actions:
    label:
      add:
      - http4s
      remove: []
- name: Label http4s-jdk-demo PRs
  conditions:
  - files~=^http4s-jdk-demo/
  actions:
    label:
      add:
      - http4s-jdk-demo
      remove: []
- name: Label input PRs
  conditions:
  - files~=^gen/input/
  actions:
    label:
      add:
      - input
      remove: []
- name: Label model PRs
  conditions:
  - files~=^model/
  actions:
    label:
      add:
      - model
      remove: []
- name: Label output PRs
  conditions:
  - files~=^gen/output/
  actions:
    label:
      add:
      - output
      remove: []
- name: Label rules PRs
  conditions:
  - files~=^gen/rules/
  actions:
    label:
      add:
      - rules
      remove: []
- name: Label scalajs PRs
  conditions:
  - files~=^scalajs/
  actions:
    label:
      add:
      - scalajs
      remove: []
- name: Label tests PRs
  conditions:
  - files~=^gen/tests/
  actions:
    label:
      add:
      - tests
      remove: []

Run CI on jdk 25
  .github/workflows/ci.yml
  .mergify.yml
  .scalafix.conf
  build.sbt
  http4s/src/main/scala/clue/http4s/Http4sWebSocketBackend.scala
  http4s/src/test/scala/clue/http4s/Http4sWebSocketBackendSuite.scala
  scalajs/src/main/scala/clue/js/FetchJsBackend.scala
  scalajs/src/main/scala/clue/js/WebSocketJsBackend.scala
Due: Label http4s PRs, Label scalajs PRs

Add guaranteeCase and cleanup refactor close functions creation
  http4s/src/main/scala/clue/http4s/Http4sWebSocketBackend.scala
Due: Label http4s PRs

Update grackle to 0.27.0
  project/Settings.scala
Due: none

generate @include and @skip fields as Option
  CLAUDE.md
  build.sbt
  gen/input/src/main/scala/test/StarWarsInclude.scala
  gen/output/src/main/scala/test/StarWarsInclude.scala
  gen/rules/src/main/scala/clue/gen/Generator.scala
  gen/rules/src/main/scala/clue/gen/QueryGen.scala
Due: Label input PRs, Label output PRs, Label rules PRs

correct parameter encoding in JS GET invocations
  build.sbt
  scalajs/src/main/scala/clue/js/FetchJsBackend.scala
  scalajs/src/test/scala/clue/js/FetchJsBackendSuite.scala
Due: Label scalajs PRs

always respond pings
  core/src/main/scala/clue/websocket/ApolloClient.scala
Due: Label core PRs

consider large numbers in path elements
  model/src/main/scala/clue/model/json/package.scala
  model/src/test/scala/clue/model/json/GraphQLErrorDecoderSuite.scala
Due: Label model PRs

scalafmt
  model/src/test/scala/clue/model/json/GraphQLErrorDecoderSuite.scala
  scalajs/src/test/scala/clue/js/FetchJsBackendSuite.scala
Due: Label model PRs, Label scalajs PRs

scalafmt
  sbt-plugin/src/main/scala/clue/sbt/CluePlugin.scala
Due: none

address pr comments: comment and doc fixes
  README.md
  clue-plugin-integration.md
  gen/input/src/main/scala/test/StarWarsAnnotatedUnderValidate.scala
  sbt-plugin/src/sbt-test/clue-plugin/validate-handwritten/changes/Annotated.scala
Due: Label input PRs

Support adding a descriptor for tracing purposes
  build.sbt
  core/src/main/scala/clue/FetchClientImpl.scala
  core/src/main/scala/clue/clients.scala
  core/src/main/scala/clue/websocket/ApolloClient.scala
  gen/input/src/main/scala/test/StarWarsDescriptorQuery.scala
  gen/output/src/main/scala/test/StarWarsDescriptorQuery.scala
  gen/rules/src/main/scala/clue/gen/GraphQLGen.scala
  gen/rules/src/main/scala/clue/gen/GraphQLGenConfig.scala
  gen/rules/src/main/scala/clue/gen/QueryGen.scala
  model/src/main/scala/clue/model/GraphQLQuery.scala
  model/src/test/scala/clue/model/GraphQLQuerySpec.scala
  otel4s/src/main/scala/clue/otel4s/Otel4sMiddleware.scala
  otel4s/src/test/scala/clue/otel4s/Otel4sMiddlewareSpec.scala
Due: Label core PRs, Label input PRs, Label model PRs, Label output PRs, Label rules PRs

scalafmt
  build.sbt
Due: none

Fix steward job
  build.sbt
Due: none

Bump binary version
  build.sbt
Due: none

fix WS method tag and set default descriptor
  gen/input/src/main/scala/test/StarWarsDescriptorQuery.scala
  gen/output/src/main/scala/test/LucumaQuery.scala
  gen/output/src/main/scala/test/LucumaQuery2.scala
  gen/output/src/main/scala/test/LucumaQuery3.scala
  gen/output/src/main/scala/test/StarWarsDescriptorQuery.scala
  gen/output/src/main/scala/test/StarWarsInclude.scala
  gen/output/src/main/scala/test/StarWarsQuery.scala
  gen/output/src/main/scala/test/StarWarsQuery2.scala
  gen/output/src/main/scala/test/StarWarsQuery3.scala
  gen/output/src/main/scala/test/StarWarsQuery4.scala
  gen/rules/src/main/scala/clue/gen/GraphQLGenConfig.scala
  otel4s/src/main/scala/clue/otel4s/Otel4sMiddleware.scala
  otel4s/src/test/scala/clue/otel4s/Otel4sRequestSpanSpec.scala
Due: Label input PRs, Label output PRs, Label rules PRs

scalafmt
  otel4s/src/test/scala/clue/otel4s/Otel4sRequestSpanSpec.scala
Due: none

Fix querySummary parsing and unify operation type detection
  model/src/main/scala/clue/model/GraphQLQuery.scala
  model/src/test/scala/clue/model/GraphQLQuerySpec.scala
  otel4s/src/main/scala/clue/otel4s/Otel4sMiddleware.scala
Due: Label model PRs

Drop redundant default args on overrides, clarify ignored params
  core/src/main/scala/clue/FetchClientImpl.scala
  core/src/main/scala/clue/websocket/ApolloClient.scala
  gen/rules/src/main/scala/clue/gen/QueryGen.scala
  otel4s/src/main/scala/clue/otel4s/Otel4sMiddleware.scala
Due: Label core PRs, Label rules PRs

Supply transport attributes at construction, not by inheritance
  otel4s/src/main/scala/clue/otel4s/Otel4sMiddleware.scala
  otel4s/src/test/scala/clue/otel4s/Otel4sRequestSpanSpec.scala
Due: none

Upadet gitignore
  .gitignore
Due: none

Fix regex broken on js
  model/src/main/scala/clue/model/GraphQLQuery.scala
Due: Label model PRs

Cleanup
  gen/output/src/main/scala/test/LucumaQuery.scala
  gen/output/src/main/scala/test/LucumaQuery2.scala
  gen/output/src/main/scala/test/LucumaQuery3.scala
  gen/output/src/main/scala/test/StarWarsDescriptorQuery.scala
  gen/output/src/main/scala/test/StarWarsInclude.scala
  gen/output/src/main/scala/test/StarWarsQuery.scala
  gen/output/src/main/scala/test/StarWarsQuery2.scala
  gen/output/src/main/scala/test/StarWarsQuery3.scala
  gen/output/src/main/scala/test/StarWarsQuery4.scala
  gen/rules/src/main/scala/clue/gen/QueryGen.scala
  otel4s/src/main/scala/clue/otel4s/Otel4sMiddleware.scala
  otel4s/src/test/scala/clue/otel4s/Otel4sMiddlewareSpec.scala
Due: Label output PRs, Label rules PRs

Add the planned descriptor and span-naming tests
  core/src/test/scala/clue/DescriptorSpec.scala
  gen/input/src/main/scala/test/LucumaMutation.scala
  gen/input/src/main/scala/test/LucumaSubscription.scala
  gen/output/src/main/scala/test/LucumaMutation.scala
  gen/output/src/main/scala/test/LucumaSubscription.scala
  otel4s/src/main/scala/clue/otel4s/Otel4sMiddleware.scala
  otel4s/src/test/scala/clue/otel4s/Otel4sMiddlewareSpec.scala
  otel4s/src/test/scala/clue/otel4s/Otel4sRequestSpanSpec.scala
Due: Label core PRs, Label input PRs, Label output PRs

Generate fully-qualified client types instead of mid-body imports
  core/src/test/scala/clue/DescriptorSpec.scala
  gen/output/src/main/scala/test/LucumaMutation.scala
  gen/output/src/main/scala/test/LucumaQuery.scala
  gen/output/src/main/scala/test/LucumaQuery2.scala
  gen/output/src/main/scala/test/LucumaQuery3.scala
  gen/output/src/main/scala/test/StarWarsDescriptorQuery.scala
  gen/output/src/main/scala/test/StarWarsInclude.scala
  gen/output/src/main/scala/test/StarWarsQuery.scala
  gen/output/src/main/scala/test/StarWarsQuery2.scala
  gen/output/src/main/scala/test/StarWarsQuery3.scala
  gen/output/src/main/scala/test/StarWarsQuery4.scala
  gen/rules/src/main/scala/clue/gen/QueryGen.scala
  model/src/main/scala/clue/model/GraphQLQuery.scala
  model/src/test/scala/clue/model/GraphQLQuerySpec.scala
  otel4s/src/main/scala/clue/otel4s/Otel4sMiddleware.scala
  otel4s/src/test/scala/clue/otel4s/Otel4sMiddlewareSpec.scala
  otel4s/src/test/scala/clue/otel4s/Otel4sRequestSpanSpec.scala
Due: Label core PRs, Label model PRs, Label output PRs, Label rules PRs

variable passing validation
  .gitignore
  README.md
  core/src/main/scala/clue/GraphQLInterpolator.scala
  core/src/test/scala/clue/GraphQLInterpolatorSuite.scala
  gen/input/src/main/scala/test/StarWarsSubqueryInferVariable.scala
  gen/input/src/main/scala/test/StarWarsSubqueryUndeclaredVariable.scala
  gen/input/src/main/scala/test/StarWarsSubqueryVariableInvalidField.scala
  gen/input/src/main/scala/test/StarWarsSubqueryWrongVariableType.scala
  gen/output/src/main/scala/test/StarWarsSubqueryInferVariable.scala
  gen/rules/src/main/scala/clue/gen/GraphQLGen.scala
  gen/rules/src/main/scala/clue/gen/GraphQLValidation.scala
  gen/rules/src/main/scala/clue/gen/QueryGen.scala
Due: Label core PRs, Label input PRs, Label output PRs, Label rules PRs

gql interpolator, validate subqueries
  README.md
  core/src/main/scala/clue/GraphQLInterpolator.scala
  core/src/main/scala/clue/GraphQLOperation.scala
  core/src/main/scala/clue/clients.scala
  core/src/test/scala/clue/GraphQLInterpolatorSuite.scala
  gen/input/src/main/scala/test/LucumaQuery.scala
  gen/input/src/main/scala/test/LucumaQuery2.scala
  gen/input/src/main/scala/test/LucumaQuery3.scala
  gen/input/src/main/scala/test/StarWarsAnnotatedInvalid.scala
  gen/input/src/main/scala/test/StarWarsAnnotatedUnderValidate.scala
  gen/input/src/main/scala/test/StarWarsInclude.scala
  gen/input/src/main/scala/test/StarWarsManualInterpolated.scala
  gen/input/src/main/scala/test/StarWarsManualInterpolatedInvalid.scala
  gen/input/src/main/scala/test/StarWarsManualInvalid.scala
  gen/input/src/main/scala/test/StarWarsManualParamInterpolated.scala
  gen/input/src/main/scala/test/StarWarsManualTypedInvalid.scala
  gen/input/src/main/scala/test/StarWarsManualTypedValid.scala
  gen/input/src/main/scala/test/StarWarsManualValid.scala
  gen/input/src/main/scala/test/StarWarsQuery.scala
  gen/input/src/main/scala/test/StarWarsQuery2.scala
  gen/input/src/main/scala/test/StarWarsQuery3.scala
  gen/input/src/main/scala/test/StarWarsQuery4.scala
  gen/input/src/main/scala/test/StarWarsTypeOnOperation.scala
  gen/input/src/main/scala/test/StarWarsUnusedVariable.scala
  gen/input/src/main/scala/test/UsesMissingSchema.scala
  gen/output/src/main/scala/test/LucumaQuery.scala
  gen/output/src/main/scala/test/LucumaQuery2.scala
  gen/output/src/main/scala/test/LucumaQuery3.scala
  gen/output/src/main/scala/test/StarWarsInclude.scala
  gen/output/src/main/scala/test/StarWarsQuery.scala
  gen/output/src/main/scala/test/StarWarsQuery2.scala
  gen/output/src/main/scala/test/StarWarsQuery3.scala
  gen/output/src/main/scala/test/StarWarsQuery4.scala
  gen/rules/src/main/scala/clue/gen/GraphQLGen.scala
  http4s-jdk-demo/src/main/scala/clue/http4sjdkDemo/Demo.scala
  sbt-plugin/src/sbt-test/clue-plugin/starwars-crossproject-pure/app/src/clue/scala/StarWarsQuery.scala
  sbt-plugin/src/sbt-test/clue-plugin/starwars/app/src/clue/scala/StarWarsQuery.scala
  sbt-plugin/src/sbt-test/clue-plugin/validate-handwritten/changes/Annotated.scala
Due: Label core PRs, Label http4s-jdk-demo PRs, Label input PRs, Label output PRs, Label rules PRs

fix rebased test
  core/src/test/scala/clue/DescriptorSpec.scala
Due: Label core PRs

fix more tests
  gen/input/src/main/scala/test/LucumaMutation.scala
  gen/input/src/main/scala/test/LucumaSubscription.scala
  gen/input/src/main/scala/test/StarWarsDescriptorQuery.scala
  gen/output/src/main/scala/test/LucumaMutation.scala
  gen/output/src/main/scala/test/LucumaSubscription.scala
  gen/output/src/main/scala/test/StarWarsDescriptorQuery.scala
Due: Label input PRs, Label output PRs

bump base version
  build.sbt
Due: none

rename subquery Variables -> VariableDefs
  README.md
  core/src/main/scala/clue/GraphQLInterpolator.scala
  core/src/test/scala/clue/GraphQLInterpolatorSuite.scala
  gen/input/src/main/scala/test/StarWarsSubqueryInferVariable.scala
  gen/input/src/main/scala/test/StarWarsSubqueryUndeclaredVariable.scala
  gen/input/src/main/scala/test/StarWarsSubqueryVariableInvalidField.scala
  gen/input/src/main/scala/test/StarWarsSubqueryWithVariable.scala
  gen/input/src/main/scala/test/StarWarsSubqueryWrongVariableType.scala
  gen/output/src/main/scala/test/StarWarsSubqueryInferVariable.scala
  gen/rules/src/main/scala/clue/gen/GraphQLGen.scala
  gen/rules/src/main/scala/clue/gen/GraphQLValidation.scala
  gen/rules/src/main/scala/clue/gen/QueryGen.scala
Due: Label core PRs, Label input PRs, Label output PRs, Label rules PRs

validate variable defs in subquery -> subquery interpolations
  README.md
  core/src/main/scala/clue/GraphQLInterpolator.scala
  core/src/main/scala/clue/GraphQLSubquery.scala
  core/src/test/scala/clue/GraphQLInterpolatorSuite.scala
  gen/input/src/main/scala/test/StarWarsManualSubqueryInvalid.scala
  gen/input/src/main/scala/test/StarWarsManualSubqueryMultiType.scala
  gen/input/src/main/scala/test/StarWarsManualSubqueryMultiTypeInvalid.scala
  gen/input/src/main/scala/test/StarWarsManualSubqueryTypedInvalid.scala
  gen/input/src/main/scala/test/StarWarsManualSubqueryTypedValid.scala
  gen/input/src/main/scala/test/StarWarsManualSubqueryValid.scala
  gen/input/src/main/scala/test/StarWarsNestedSubquery.scala
  gen/input/src/main/scala/test/StarWarsNestedSubqueryVariable.scala
  gen/input/src/main/scala/test/StarWarsSubquery.scala
  gen/input/src/main/scala/test/StarWarsSubquery2.scala
  gen/input/src/main/scala/test/StarWarsSubqueryInferVariable.scala
  gen/input/src/main/scala/test/StarWarsSubqueryMultiTypeGenerated.scala
  gen/input/src/main/scala/test/StarWarsSubqueryNoType.scala
  gen/input/src/main/scala/test/StarWarsSubqueryUndeclaredVariable.scala
  gen/input/src/main/scala/test/StarWarsSubqueryVariableInvalidField.scala
  gen/input/src/main/scala/test/StarWarsSubqueryWithVariable.scala
  gen/input/src/main/scala/test/StarWarsSubqueryWrongVariableType.scala
  gen/input/src/main/scala/test/StarWarsTypedSubqueryAnnotatedDeprecated.scala
  gen/input/src/main/scala/test/StarWarsTypedSubqueryObjectInvalid.scala
  gen/input/src/main/scala/test/StarWarsTypedSubqueryScala3.scala
  gen/output/src/main/scala/test/StarWarsNestedSubquery.scala
  gen/output/src/main/scala/test/StarWarsSubquery.scala
  gen/output/src/main/scala/test/StarWarsSubquery2.scala
  gen/output/src/main/scala/test/StarWarsSubqueryInferVariable.scala
  gen/output/src/main/scala/test/StarWarsTypedSubqueryAnnotatedDeprecated.scala
  gen/rules/src/main/scala/clue/gen/GraphQLGen.scala
  gen/rules/src/main/scala/clue/gen/QueryGen.scala
  sbt-plugin/src/sbt-test/clue-plugin/validate-handwritten/app/src/main/scala/Handwritten.scala
  sbt-plugin/src/sbt-test/clue-plugin/validate-handwritten/changes/Invalid.scala
Due: Label core PRs, Label input PRs, Label output PRs, Label rules PRs

stripMargin for GraphQLDocument
  README.md
  core/src/main/scala/clue/GraphQLInterpolator.scala
  core/src/test/scala/clue/GraphQLInterpolatorSuite.scala
  http4s-jdk-demo/src/main/scala/clue/http4sjdkDemo/Demo.scala
Due: Label core PRs, Label http4s-jdk-demo PRs

Handle a pong message from the server
  core/src/main/scala/clue/websocket/ApolloClient.scala
  core/src/test/scala/clue/websocket/ApolloClientPongSuite.scala
  core/src/test/scala/clue/websocket/TestWebSocketBackend.scala
  model/src/main/scala/clue/model/StreamingMessage.scala
  model/src/main/scala/clue/model/json/package.scala
  model/src/test/scala/clue/model/arb/ArbFromServer.scala
  model/src/test/scala/clue/model/json/FromServerPongDecoderSuite.scala
Due: Label core PRs, Label model PRs

Crash subscriptions on a close without a reconnection
  core/src/main/scala/clue/websocket/ApolloClient.scala
  core/src/test/scala/clue/websocket/ApolloClientCloseSuite.scala
  core/src/test/scala/clue/websocket/TestWebSocketBackend.scala
Due: Label core PRs

Keep a decode failure inside its own subscription
  core/src/main/scala/clue/websocket/ApolloClient.scala
  core/src/test/scala/clue/websocket/ApolloClientDecodeFailureSuite.scala
Due: Label core PRs

Crash subscriptions on a close without a reconnection (#820)
  core/src/main/scala/clue/websocket/ApolloClient.scala
  core/src/test/scala/clue/websocket/ApolloClientCloseSuite.scala
  core/src/test/scala/clue/websocket/TestWebSocketBackend.scala
Due: Label core PRs

Keep a decode failure inside its own subscription (#821)
  core/src/main/scala/clue/websocket/ApolloClient.scala
  core/src/test/scala/clue/websocket/ApolloClientDecodeFailureSuite.scala
Due: Label core PRs

Make a one-shot request over a WebSocket cancelable
  core/src/main/scala/clue/websocket/ApolloClient.scala
  core/src/main/scala/clue/websocket/State.scala
  core/src/test/scala/clue/websocket/ApolloClientCloseSuite.scala
  core/src/test/scala/clue/websocket/ApolloClientDecodeFailureSuite.scala
  core/src/test/scala/clue/websocket/ApolloClientPongSuite.scala
  core/src/test/scala/clue/websocket/ApolloClientRequestSuite.scala
  core/src/test/scala/clue/websocket/ApolloClientSubscriptionSuite.scala
  core/src/test/scala/clue/websocket/ApolloClientSuite.scala
  core/src/test/scala/clue/websocket/TestWebSocketBackend.scala
Due: Label core PRs
