Repository gemini-hlsw/clue: changes, and which Mergify rules are due for each by the changed paths.
All: Label core PRs, Label http4s PRs, Label http4s-jdk-demo PRs, Label input PRs, Label model PRs, Label output PRs, Label rules PRs, Label scalajs PRs, Label tests PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=lucuma-steward
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
  - status-success=Build and Test (ubuntu-latest, 2.13.8, temurin@11, rootJS)
  - status-success=Build and Test (ubuntu-latest, 2.13.8, temurin@11, rootJVM)
  - status-success=Build and Test (ubuntu-latest, 2.13.8, temurin@17, rootJVM)
  - status-success=Build and Test (ubuntu-latest, 3.1.2, temurin@11, rootJS)
  - status-success=Build and Test (ubuntu-latest, 3.1.2, temurin@11, rootJVM)
  - status-success=Build and Test (ubuntu-latest, 3.1.2, temurin@17, rootJVM)
  actions:
    merge: {}
- name: Label core PRs
  conditions:
  - files~=^core/
  actions:
    label:
      add:
      - core
      remove: []
- name: Label http4s PRs
  conditions:
  - files~=^http4s/
  actions:
    label:
      add:
      - http4s
      remove: []
- name: Label http4s-jdk-demo PRs
  conditions:
  - files~=^http4s-jdk-demo/
  actions:
    label:
      add:
      - http4s-jdk-demo
      remove: []
- name: Label input PRs
  conditions:
  - files~=^gen/input/
  actions:
    label:
      add:
      - input
      remove: []
- name: Label model PRs
  conditions:
  - files~=^model/
  actions:
    label:
      add:
      - model
      remove: []
- name: Label output PRs
  conditions:
  - files~=^gen/output/
  actions:
    label:
      add:
      - output
      remove: []
- name: Label rules PRs
  conditions:
  - files~=^gen/rules/
  actions:
    label:
      add:
      - rules
      remove: []
- name: Label scalajs PRs
  conditions:
  - files~=^scalajs/
  actions:
    label:
      add:
      - scalajs
      remove: []
- name: Label tests PRs
  conditions:
  - files~=^gen/tests/
  actions:
    label:
      add:
      - tests
      remove: []

Bump tlBaseVersion
  build.sbt
Due: none

Add a Ping message to FromClient
  model/src/main/scala/clue/model/StreamingMessage.scala
  model/src/main/scala/clue/model/json/package.scala
  model/src/test/scala/clue/model/arb/ArbFromClient.scala
  model/src/test/scala/clue/model/json/FromClientPingCodecSuite.scala
Due: Label model PRs

Support application/graphql-response+json in the HTTP backends
  core/src/main/scala/clue/GraphQLOverHttp.scala
  http4s/src/main/scala/clue/http4s/Http4sHttpBackend.scala
  http4s/src/test/scala/clue/http4s/Http4sHttpBackendSuite.scala
  model/src/main/scala/clue/GraphQLException.scala
  scalajs/src/main/scala/clue/js/FetchJsBackend.scala
  scalajs/src/test/scala/clue/js/FetchJsBackendRequestSuite.scala
Due: Label core PRs, Label http4s PRs, Label model PRs, Label scalajs PRs

Send a mutation with POST, also in GET mode
  scalajs/src/main/scala/clue/js/FetchJsBackend.scala
  scalajs/src/test/scala/clue/js/FetchJsBackendSuite.scala
Due: Label scalajs PRs

Keep the GraphQL document unchanged in GET mode
  scalajs/src/main/scala/clue/js/FetchJsBackend.scala
  scalajs/src/test/scala/clue/js/FetchJsBackendSuite.scala
Due: Label scalajs PRs

Remove GET support from the HTTP backends
  http4s/src/main/scala/clue/http4s/Http4sHttpBackend.scala
  http4s/src/test/scala/clue/http4s/Http4sHttpBackendSuite.scala
  scalajs/src/main/scala/clue/js/FetchJsBackend.scala
  scalajs/src/test/scala/clue/js/FetchJsBackendRequestSuite.scala
  scalajs/src/test/scala/clue/js/FetchJsBackendSuite.scala
Due: Label http4s PRs, Label scalajs PRs

Cross-build sbt-clue to sbt 2
  .github/workflows/ci.yml
  CLAUDE.md
  build.sbt
  clue-plugin-integration.md
  sbt-plugin/src/main/scala-2.12/clue/sbt/PluginCompat.scala
  sbt-plugin/src/main/scala-3/clue/sbt/PluginCompat.scala
  sbt-plugin/src/main/scala/clue/sbt/CluePlugin.scala
  sbt-plugin/src/sbt-test/clue-plugin/starwars-crossproject-pure/build.sbt
  sbt-plugin/src/sbt-test/clue-plugin/starwars-crossproject-pure/project/build.properties
  sbt-plugin/src/sbt-test/clue-plugin/starwars/build.sbt
  sbt-plugin/src/sbt-test/clue-plugin/starwars/project/build.properties
  sbt-plugin/src/sbt-test/clue-plugin/starwars/test
  sbt-plugin/src/sbt-test/clue-plugin/validate-handwritten/build.sbt
  sbt-plugin/src/sbt-test/clue-plugin/validate-handwritten/project/build.properties
Due: none

Refactor WebSocketJsBackend to use event queue for connection handling
  scalajs/src/main/scala/clue/js/WebSocketJsBackend.scala
Due: Label scalajs PRs

Fix stale connection IDs in WebSocket client state machine
  core/src/main/scala/clue/websocket/ApolloClient.scala
  core/src/test/scala/clue/websocket/ApolloClientCloseSuite.scala
  core/src/test/scala/clue/websocket/ApolloClientConnectionIdSuite.scala
  core/src/test/scala/clue/websocket/ApolloClientSuite.scala
  core/src/test/scala/clue/websocket/TestWebSocketBackend.scala
  sbt-plugin/src/main/scala-2.12/clue/sbt/PluginCompat.scala
Due: Label core PRs

Fix initializing close
  core/src/main/scala/clue/websocket/ApolloClient.scala
  core/src/test/scala/clue/websocket/ApolloClientCloseSuite.scala
Due: Label core PRs

Only run CI on JDK 25 and remove specified Scala versions
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
Due: none

Adopt latest LucumaPlugin, notify on CI merge errors
  .github/workflows/ci-failure-slack.yml
  .github/workflows/ci.yml
  project/plugins.sbt
Due: none

remove now-unnecessary grackle workaround
  gen/input/src/main/scala/test/StarWarsUnusedVariable.scala
  gen/rules/src/main/scala/clue/gen/GraphQLGen.scala
  gen/rules/src/main/scala/clue/gen/GraphQLValidation.scala
  gen/rules/src/main/scala/clue/gen/QueryGen.scala
Due: Label input PRs, Label rules PRs

bump core
  build.sbt
Due: none

emit warnings on unused variables
  core/src/main/scala/clue/GraphQLInterpolator.scala
  core/src/main/scala/clue/GraphQLText.scala
  core/src/test/scala/clue/GraphQLInterpolatorSuite.scala
  core/src/test/scala/clue/GraphQLTextSuite.scala
  gen/input/src/main/scala/test/StarWarsUnusedVariable.scala
  gen/rules/src/main/scala/clue/gen/QueryGen.scala
Due: Label core PRs, Label input PRs, Label rules PRs

address pr comments
  core/src/main/scala/clue/GraphQLInterpolator.scala
  core/src/main/scala/clue/GraphQLSubquery.scala
  core/src/main/scala/clue/GraphQLText.scala
  core/src/test/scala/clue/GraphQLTextSuite.scala
Due: Label core PRs

require discriminator on polymorphic queries
  gen/input/src/main/resources/graphql/schemas/StarWars.graphql
  gen/input/src/main/scala/test/LucumaQuery.scala
  gen/input/src/main/scala/test/LucumaQuery2.scala
  gen/input/src/main/scala/test/LucumaQuery3.scala
  gen/input/src/main/scala/test/StarWarsHumanSubquery.scala
  gen/input/src/main/scala/test/StarWarsInterfaceSubtype.scala
  gen/input/src/main/scala/test/StarWarsQuery2.scala
  gen/input/src/main/scala/test/StarWarsQuery3.scala
  gen/input/src/main/scala/test/StarWarsSingleSubtype.scala
  gen/input/src/main/scala/test/StarWarsSubqueryInFragmentInvalid.scala
  gen/input/src/main/scala/test/StarWarsSubtypeNoTypename.scala
  gen/output/src/main/scala/test/LucumaQuery.scala
  gen/output/src/main/scala/test/LucumaQuery2.scala
  gen/output/src/main/scala/test/LucumaQuery3.scala
  gen/output/src/main/scala/test/StarWarsHumanSubquery.scala
  gen/output/src/main/scala/test/StarWarsInterfaceSubtype.scala
  gen/output/src/main/scala/test/StarWarsNestedSubquery.scala
  gen/output/src/main/scala/test/StarWarsQuery.scala
  gen/output/src/main/scala/test/StarWarsQuery2.scala
  gen/output/src/main/scala/test/StarWarsQuery3.scala
  gen/output/src/main/scala/test/StarWarsSingleSubtype.scala
  gen/rules/src/main/scala/clue/gen/Generator.scala
  gen/rules/src/main/scala/clue/gen/QueryGen.scala
  sbt-plugin/src/sbt-test/clue-plugin/starwars-crossproject-pure/app/src/clue/scala/StarWarsQuery.scala
  sbt-plugin/src/sbt-test/clue-plugin/starwars/app/src/clue/scala/StarWarsQuery.scala
Due: Label input PRs, Label output PRs, Label rules PRs

bump base version
  build.sbt
Due: none

add doc, keep aliased __typename
  README.md
  gen/input/src/main/scala/test/StarWarsAliasedTypename.scala
  gen/input/src/main/scala/test/StarWarsAliasedTypenameOther.scala
  gen/output/src/main/scala/test/StarWarsAliasedTypename.scala
  gen/output/src/main/scala/test/StarWarsAliasedTypenameOther.scala
  gen/rules/src/main/scala/clue/gen/QueryGen.scala
Due: Label input PRs, Label output PRs, Label rules PRs

address pr comments
  README.md
  gen/input/src/main/scala/test/StarWarsSubtypeConditionalTypename.scala
  gen/input/src/main/scala/test/StarWarsSubtypeConditionalTypenameFragment.scala
  gen/input/src/main/scala/test/StarWarsTypenameInFragment.scala
  gen/output/src/main/scala/test/StarWarsTypenameInFragment.scala
  gen/rules/src/main/scala/clue/gen/QueryGen.scala
Due: Label input PRs, Label output PRs, Label rules PRs

Remove scala-js-macrotask-executor dep
  build.sbt
  project/Settings.scala
Due: none

reinstate flat single fragment queries
  README.md
  gen/input/src/main/scala/test/StarWarsAliasedTypenameOther.scala
  gen/input/src/main/scala/test/StarWarsInterfaceSubtype.scala
  gen/input/src/main/scala/test/StarWarsSingleSubtype.scala
  gen/input/src/main/scala/test/StarWarsSubtypeConditionalTypename.scala
  gen/input/src/main/scala/test/StarWarsSubtypeConditionalTypenameFragment.scala
  gen/input/src/main/scala/test/StarWarsSubtypeNoTypename.scala
  gen/input/src/main/scala/test/StarWarsTypenameInFragment.scala
  gen/output/src/main/scala/test/LucumaQuery2.scala
  gen/output/src/main/scala/test/StarWarsAliasedTypenameOther.scala
  gen/output/src/main/scala/test/StarWarsInterfaceSubtype.scala
  gen/output/src/main/scala/test/StarWarsSingleSubtype.scala
  gen/output/src/main/scala/test/StarWarsTypenameInFragment.scala
  gen/rules/src/main/scala/clue/gen/QueryGen.scala
Due: Label input PRs, Label output PRs, Label rules PRs

Merge duplicate selections across fragments and reject overlapping fragment types
  README.md
  gen/input/src/main/scala/test/StarWarsDuplicateSelectionSingle.scala
  gen/input/src/main/scala/test/StarWarsDuplicateSelectionSum.scala
  gen/input/src/main/scala/test/StarWarsOverlappingFragments.scala
  gen/output/src/main/scala/test/StarWarsDuplicateSelectionSingle.scala
  gen/output/src/main/scala/test/StarWarsDuplicateSelectionSum.scala
  gen/rules/src/main/scala/clue/gen/QueryGen.scala
Due: Label input PRs, Label output PRs, Label rules PRs

Address review: scope overlap check to reachable types, merge nested/optional/deprecated duplicates
  README.md
  gen/input/src/main/scala/test/StarWarsDuplicateSelectionConditional.scala
  gen/input/src/main/scala/test/StarWarsDuplicateSelectionNested.scala
  gen/output/src/main/scala/test/StarWarsDuplicateSelectionConditional.scala
  gen/output/src/main/scala/test/StarWarsDuplicateSelectionNested.scala
  gen/rules/src/main/scala/clue/gen/QueryGen.scala
Due: Label input PRs, Label output PRs, Label rules PRs

implement lexer
  core/src/main/scala/clue/GraphQLDocumentScan.scala
  core/src/main/scala/clue/GraphQLInterpolator.scala
  core/src/main/scala/clue/GraphQLLexer.scala
  core/src/test/scala/clue/GraphQLDocumentScanSuite.scala
  core/src/test/scala/clue/GraphQLInterpolatorSuite.scala
  core/src/test/scala/clue/GraphQLLexerSuite.scala
Due: Label core PRs

Use http4s `MediaType` constants
  http4s/src/main/scala/clue/http4s/Http4sHttpBackend.scala
  http4s/src/test/scala/clue/http4s/Http4sHttpBackendSuite.scala
Due: Label http4s PRs

address pr comments
  gen/input/src/main/scala/test/StarWarsDuplicateSelectionReordered.scala
  gen/output/src/main/scala/test/StarWarsDuplicateSelectionReordered.scala
  gen/rules/src/main/scala/clue/gen/QueryGen.scala
Due: Label input PRs, Label output PRs, Label rules PRs

duplicate-selection merging consistent across nesting, ordering and optionality
  README.md
  gen/input/src/main/scala/test/StarWarsDuplicateSelectionConditionalBase.scala
  gen/input/src/main/scala/test/StarWarsDuplicateSelectionNestedConditional.scala
  gen/input/src/main/scala/test/StarWarsDuplicateSelectionNestedSumReordered.scala
  gen/output/src/main/scala/test/StarWarsDuplicateSelectionConditionalBase.scala
  gen/output/src/main/scala/test/StarWarsDuplicateSelectionNestedConditional.scala
  gen/output/src/main/scala/test/StarWarsDuplicateSelectionNestedSumReordered.scala
  gen/rules/src/main/scala/clue/gen/QueryGen.scala
Due: Label input PRs, Label output PRs, Label rules PRs

use grackle's parser in the gql macro
  README.md
  build.sbt
  core/src/main/scala/clue/GraphQLDocuments.scala
  core/src/main/scala/clue/GraphQLInterpolator.scala
  core/src/test/scala/clue/GraphQLDocumentsSuite.scala
  core/src/test/scala/clue/GraphQLInterpolatorSuite.scala
  http4s-jdk-demo/src/main/scala/clue/http4sjdkDemo/Demo.scala
Due: Label core PRs, Label http4s-jdk-demo PRs

scalafmt
  core/src/main/scala/clue/GraphQLDocuments.scala
  core/src/test/scala/clue/GraphQLDocumentsSuite.scala
Due: Label core PRs

address pr comments
  README.md
  core/src/main/scala/clue/GraphQLDocuments.scala
  core/src/main/scala/clue/GraphQLInterpolator.scala
  core/src/test/scala/clue/GraphQLDocumentsSuite.scala
  core/src/test/scala/clue/GraphQLInterpolatorSuite.scala
Due: Label core PRs

rename subquery placeholder
  build.sbt
  gen/input/src/main/scala/test/StarWarsAliasNotASplice.scala
  gen/output/src/main/scala/test/StarWarsAliasNotASplice.scala
  gen/rules/src/main/scala/clue/gen/QueryGen.scala
  project/Settings.scala
Due: Label input PRs, Label output PRs, Label rules PRs

rebase
  gen/input/src/main/scala/test/StarWarsDuplicateSelectionSpliced.scala
  gen/output/src/main/scala/test/StarWarsDuplicateSelectionSpliced.scala
  gen/rules/src/main/scala/clue/gen/QueryGen.scala
Due: Label input PRs, Label output PRs, Label rules PRs
